doctype html

div.wrapper(tg-backlog, ng-controller="BacklogController as ctrl",
            ng-init="section='backlog'")
    tg-project-menu
    sidebar.menu-secondary.extrabar.filters-bar(tg-backlog-filters)
        include ../includes/modules/backlog-filters
    section.main.backlog
        include ../includes/components/mainTitle

        div.backlog-summary(tg-toggle-burndown-visibility)
            include ../includes/components/summary

            div.graphics-container.burndown-container.js-burndown-graph
                div.burndown(tg-burndown-backlog-graph)
                    include ../includes/modules/burndown

        div.backlog-menu
            div.backlog-table-options
                a.trans-button.move-to-current-sprint(href="",
                                            title="{{'BACKLOG.MOVE_US_TO_CURRENT_SPRINT' | translate}}",
                                            id="move-to-current-sprint")
                    span.icon.icon-move
                    span.text(translate="BACKLOG.MOVE_US_TO_CURRENT_SPRINT")
                a.trans-button(href="",
                               title="{{'BACKLOG.FILTERS.TOGGLE' | translate}}",
                               id="show-filters-button")
                    span.icon.icon-filter
                    span.text(translate="BACKLOG.FILTERS.SHOW")
                a.trans-button(href="",
                               title="{{'BACKLOG.TAGS.TOGGLE' | translate}}",
                               id="show-tags")
                    span.icon.icon-tag
                    span.text(translate="BACKLOG.TAGS.SHOW")
            include ../includes/components/addnewus

        section.backlog-table(ng-class="{'hidden': !visibleUserstories.length}")
            include ../includes/modules/backlog-table

        div.empty.empty-backlog(ng-class="{'hidden': visibleUserstories.length}", tg-backlog-empty-sortable)
            span.icon.icon-backlog
            span.title(translate="BACKLOG.EMPTY")
            a(href="", title="{{'BACKLOG.CREATE_NEW_US' | translate}}",
              ng-click="ctrl.addNewUs('standard')",
              tg-check-permission="add_us",
              translate="BACKLOG.CREATE_NEW_US_EMPTY_HELP")

    sidebar.menu-secondary.sidebar
        include ../includes/modules/sprints

    div.lightbox.lightbox-generic-form(tg-lb-create-edit-userstory)
        include ../includes/modules/lightbox-us-create-edit

    div.lightbox.lightbox-generic-bulk(tg-lb-create-bulk-userstories)
        include ../includes/modules/lightbox-us-bulk

    div.lightbox.lightbox-sprint-add-edit(tg-lb-create-edit-sprint)
        include ../includes/modules/lightbox-sprint-add-edit
