
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC



.sprint-summary
    .sprint-name-container
        .sprint-name
            button.compact-sprint(title="{{'BACKLOG.COMPACT_SPRINT' | translate}}")
                tg-svg(svg-icon="icon-arrow-right")
            a(
                ng-if="::isVisible"
                href="{{::taskboardUrl}}"
                title="{{'BACKLOG.GO_TO_TASKBOARD' | translate}}"
            )
                span {{::name}}

        .sprint-date {{::estimatedDateRange}}
    .sprint-points
        a.edit-sprint(
            ng-if="::isEditable"
            href=""
            title="{{'BACKLOG.EDIT_SPRINT' | translate}}"
        )
            tg-svg(svg-icon="icon-edit")
        .sprint-info
            ul
                li
                    span.number {{::closedPoints | number}}
                    span.description(translate="BACKLOG.CLOSED_POINTS")
                li
                    span.number {{::totalPoints | number}}
                    span.description(translate="BACKLOG.TOTAL_POINTS")
