div
    nav.profile-content-tabs
        a.tab(
            href=""
            ng-repeat="tab in ::vm.tabs"
            title="{{tab.title}}"
            ng-click="vm.toggleTab(tab)"
            ng-class="{active: tab.active}"
        )
            svg.icon(ng-class="::tab.icon")
                use(xlink:href="{{::tab.iconName}}")
            span {{::tab.name}}

    ng-transclude
