div
    nav.profile-content-tabs
        a.tab(
            href=""
            ng-repeat="tab in ::vm.tabs"
            title="{{tab.title}}"
            ng-click="vm.toggleTab(tab)"
            ng-class="{active: tab.active}"
        )
            tg-svg(svg-icon="{{::tab.icon}}")
            span {{::tab.name}}

    ng-transclude
