
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

doctype html

div.wrapper(
    tg-user-change-password
    ng-controller="UserChangePasswordController as ctrl"
    ng-init="section='user-settings'"
)
    sidebar.menu-secondary.sidebar.settings-nav(tg-user-settings-navigation="change-password")
        include ../includes/modules/user-settings-menu

    section.main.user-change-password
        header
            h1 {{sectionName | translate}}

        form
            fieldset
                label(for="current-password", translate="CHANGE_PASSWORD.FIELD_CURRENT_PASSWORD")
                input(
                    type="password"
                    name="password"
                    id="current-password"
                    tg-capslock
                    ng-model="currentPassword"
                    placeholder="{{'CHANGE_PASSWORD.PLACEHOLDER_CURRENT_PASSWORD' | translate}}"
                )

            fieldset
                label(for="new-password", translate="CHANGE_PASSWORD.FIELD_NEW_PASSWORD")
                input(
                    data-required="true"
                    type="password"
                    name="new-password"
                    id="new-password"
                    tg-capslock
                    ng-model="newPassword1"
                    placeholder="{{'CHANGE_PASSWORD.PLACEHOLDER_NEW_PASSWORD' | translate}}"
               )

            fieldset
                label(for="retype-password", translate="CHANGE_PASSWORD.FIELD_RETYPE_PASSWORD")
                input(
                    data-required="true"
                    type="password"
                    name="retype-password"
                    id="retype-password"
                    tg-capslock
                    ng-model="newPassword2"
                    placeholder="{{'CHANGE_PASSWORD.PLACEHOLDER_RETYPE_PASSWORD' | translate}}"
                )

            fieldset
                button.btn-small(
                    variant="primary"
                    type="submit"
                    title="{{'COMMON.SAVE' | translate}}"
                    translate="COMMON.SAVE"
                )
