
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

.card-slideshow(ng-if="vm.images.size")
    tg-svg.slideshow-icon.slideshow-left(
        ng-click="vm.previous()"
        ng-if="vm.images.size > 1"
        svg-icon="icon-arrow-left"
    )
    tg-svg.slideshow-icon.slideshow-right(
        ng-click="vm.next()"
        ng-if="vm.images.size > 1"
        svg-icon="icon-arrow-right"
    )

    .card-slideshow-wrapper(
        ng-if="$index == vm.index"
        tg-repeat="image in vm.images track by image.get('id')"
    )
        tg-preload-image(preload-src="{{image.get('thumbnail_card_url')}}")
            img(ng-src="{{image.get('thumbnail_card_url')}}")
