div.new-us
    button.btn-primary(
        ng-click="ctrl.addNewUs('standard')",
        tg-check-permission="add_us"
    )
        tg-svg(svg-icon="icon-add")
        span.text {{'US.ADD' | translate}}
    a.button-bulk.button-gray.button-small(
        href="",
        title="{{'US.ADD_BULK' | translate}}",
        ng-click="ctrl.addNewUs('bulk')",
        tg-check-permission="add_us"
    )
        tg-svg(svg-icon="icon-add")
