div.new-us
    button.btn-small(
        variant="primary"
        ng-click="ctrl.addNewUs('standard')",
        tg-check-permission="add_us"
    )
        tg-svg(svg-icon="icon-add")
        span.text {{'US.ADD' | translate}}

    button.btn-icon(
        variant="secondary"
        ng-click="ctrl.addNewUs('bulk')",
        tg-check-permission="add_us"
        aria-label="{{'US.ADD_BULK' | translate}}"
    )
        tg-svg(svg-icon="icon-bulk")
