
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

tg-svg.add-action.btn-board(
    tg-check-permission="add_task",
    title="{{'TASKBOARD.TITLE_ACTION_ADD' | translate}}",
    ng-click="ctrl.addNewTask('standard', us)",
    svg-icon="icon-add"
)

tg-svg.bulk-action.btn-board(
    title="{{'TASKBOARD.TITLE_ACTION_ADD_BULK' | translate}}",
    ng-click="ctrl.addNewTask('bulk', us)",
    tg-check-permission="add_task",
    svg-icon="icon-bulk"
)
