
//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.
//-
//- Copyright (c) 2021-present Kaleidos Ventures SL

div.new-us
    button.btn-small(
        variant="primary"
        ng-click="ctrl.addNewUs('standard')",
        tg-check-permission="add_us"
    )
        tg-svg(svg-icon="icon-add")
        span.text {{'US.ADD' | translate}}

    button.btn-icon(
        variant="secondary"
        ng-click="ctrl.addNewUs('bulk')",
        tg-check-permission="add_us"
        aria-label="{{'US.ADD_BULK' | translate}}"
    )
        tg-svg(svg-icon="icon-bulk")
