.row.us-item-row(
    ng-repeat="us in userstories | inArray:visibleUserStories:'ref'"
    tg-bind-scope
    ng-class="{blocked: us.is_blocked, new: us.new}"
    tg-class-permission="{'readonly': '!modify_us'}"
    data-id="{{ us.id }}"
)
    .draggable-us-row(tg-check-permission="modify_us")
        tg-svg(svg-icon="icon-draggable")

    .input(tg-check-permission="modify_us")
        .custom-checkbox
            input(
                type="checkbox"
                name="filter-mode"
                id="us-check-{{us.ref}}"
                value="{{option}}"
                ng-model="vm.filterMode"
            )
            label(
                for="us-check-{{us.ref}}",
                tabindex="0"
            )
    .user-stories.user-story-main-data
        .user-story-number(tg-bo-ref="us.ref")
        a.user-story-name.clickable(
            href=""
            tg-nav="project-userstories-detail:project=project.slug,ref=us.ref"
            tg-nav-get-params="{\"no-milestone\": 1}"
        )
            span(ng-bind-html="us.subject | emojify")
        tg-due-date(
            due-date="us.due_date"
            is-closed="us.is_closed"
            ng-if="us.due_date"
            obj-type="us"
        )
        .tag(
            ng-if="ctrl.showTags"
            ng-attr-title="{{tag[0]}}"
            ng-repeat="tag in us.tags"
            ng-style="{background: tag[1]}"
        ) {{tag[0]}}
        tg-belong-to-epics(
            class="epics"
            format="pill"
            ng-if="us.epics"
            epics="us.epics"
        )
        //- .us-settings
        //-     a.e2e-edit.edit-story(
        //-         href=""
        //-         tg-check-permission="modify_us"
        //-         ng-click="ctrl.editUserStory(us.project, us.ref, $event)"
        //-         title="{{'COMMON.EDIT' | translate}}"
        //-     )
        //-         tg-svg(svg-icon="icon-edit")

        //-     a.e2e-delete(
        //-         href=""
        //-         tg-check-permission="delete_us"
        //-         ng-click="ctrl.deleteUserStory(us)"
        //-         title="{{'COMMON.DELETE' | translate}}"
        //-     )
        //-         tg-svg(svg-icon="icon-trash")

    div.status(tg-us-status="us" on-update="ctrl.updateUserStoryStatus()")
        a.us-status(href="", title="{{'BACKLOG.STATUS_NAME' | translate}}")
            span.us-status-bind
            tg-svg(
                tg-check-permission="modify_us",
                svg-icon="icon-arrow-down"
            )

    div.points(tg-backlog-us-points="us")
        a.us-points(href="", title="{{'COMMON.FIELDS.POINTS' | translate}}")

    a.us-option(tg-check-permission="modify_us", href="", title="{{'COMMON.EDIT' | translate}}")
        tg-svg(svg-icon="icon-more-vertical")
