div.row.us-item-row(
    ng-repeat="us in userstories track by us.id"
    tg-bind-scope
    ng-class="{blocked: us.is_blocked}"
    tg-class-permission="{'readonly': '!modify_us'}"
)
    div.input(tg-check-permission="modify_us")
        input(
          type="checkbox"
          name=""
        )
    div.votes(
        ng-class="{'inactive': !us.total_voters, 'is-voted': us.is_voter}"
        title="{{ 'COMMON.VOTE_BUTTON.COUNTER_TITLE'|translate:{total:us.total_voters||0}:'messageformat' }}"
    )
        span.icon.icon-caret-up
        span {{ ::us.total_voters }}
    div.user-stories
        div.tags-block(tg-colorize-tags="us.tags", tg-colorize-tags-type="backlog")
        div.user-story-name
            a.clickable(
                href=""
                tg-nav="project-userstories-detail:project=project.slug,ref=us.ref"
                tg-nav-get-params="{\"no-milestone\": 1}"
                title="#{{ us.ref }} {{ us.subject }}"
            )
                span(tg-bo-ref="us.ref")
                span(ng-bind="us.subject")
            div.us-settings
                a.icon.icon-edit(
                    href=""
                    tg-check-permission="modify_us"
                    ng-click="ctrl.editUserStory(us.project, us.ref, $event)"
                    title="{{'COMMON.EDIT' | translate}}"
                )
                a.icon.icon-delete(
                    href=""
                    tg-check-permission="delete_us"
                    ng-click="ctrl.deleteUserStory(us)"
                    title="{{'COMMON.DELETE' | translate}}"
                )

    div.status(tg-us-status="us" on-update="ctrl.updateUserStoryStatus()")
        a.us-status(href="", title="{{'BACKLOG.STATUS_NAME' | translate}}")
            span.us-status-bind
            span.icon.icon-arrow-bottom(tg-check-permission="modify_us")

    div.points(tg-backlog-us-points="us")
        a.us-points(href="", title="{{'COMMON.FIELDS.POINTS' | translate}}")

    a.icon.icon-drag-v(tg-check-permission="modify_us", href="", title="{{'COMMON.DRAG' | translate}}")
