div.taskboard-tagline(tg-colorize-tags="task.tags", tg-colorize-tags-type="taskboard")
div.taskboard-task-inner
    div.taskboard-user-avatar(tg-taskboard-user-avatar, users="usersById", task="task", project="project")
    tg-svg.iocaine(
        ng-if="task.is_iocaine"
        svg-icon="icon-iocaine",
        svg-title="{{'COMMON.IOCAINE_TEXT' | translate}}"
    )
    p.taskboard-text
        a.task-assigned(href="", title="{{'TASKBOARD.TITLE_ACTION_ASSIGN' | translate}}")
        span.task-num(tg-bo-ref="task.ref")
        a.task-name(href="", title="#{{ ::task.ref }} {{ ::task.subject }}", ng-bind="task.subject",
                    tg-nav="project-tasks-detail:project=project.slug,ref=task.ref")
    tg-svg.edit-task(
        tg-check-permission="modify_task"
        svg-icon="icon-edit",
        svg-title-translate="TASKBOARD.TITLE_ACTION_EDIT"
    )
