section.issues-options(tg-check-permission="add_issue")
    div.new-issue
        a.button-green(href="", ng-click="ctrl.onAddNewIssue()")
            span.text(translate="ISSUES.ACTION_NEW_ISSUE")
        a.button-bulk.button-green.button-small(href="", ng-click="ctrl.onAddIssuesInBulk()")
            tg-svg(svg-icon="icon-bulk")

section.issues-table.basic-table(ng-class="{empty: !ctrl.issues.length}")
    div.row.title
        div.level-field(data-fieldname="type" ng-if="!ctrl.sprintIssues")
             | {{"ISSUES.TABLE.COLUMNS.TYPE" | translate}}
        div.level-field(data-fieldname="severity" ng-if="!ctrl.sprintIssues")
             | {{"ISSUES.TABLE.COLUMNS.SEVERITY" | translate}}
        div.level-field(data-fieldname="priority" ng-if="!ctrl.sprintIssues")
             | {{"ISSUES.TABLE.COLUMNS.PRIORITY" | translate}}
        div.votes(data-fieldname="total_voters" ng-if="!ctrl.sprintIssues")
             | {{"ISSUES.TABLE.COLUMNS.VOTES" | translate}}
        div.subject(data-fieldname="subject")
             | {{"ISSUES.TABLE.COLUMNS.SUBJECT" | translate}}
        div.issue-field(data-fieldname="status")
             | {{"ISSUES.TABLE.COLUMNS.STATUS" | translate}}
        div.issue-field.skip-order(ng-if="ctrl.sprintIssues")
             | {{"ISSUES.TABLE.COLUMNS.ATTACHMENTS" | translate}}
        div.modified-field(data-fieldname="modified_date")
             | {{"ISSUES.TABLE.COLUMNS.MODIFIED" | translate}}
        div.assigned-field(data-fieldname="assigned_to")
             | {{"ISSUES.TABLE.COLUMNS.ASSIGNED_TO" | translate}}

    div.row.table-main(
        ng-repeat="issue in ctrl.issues track by issue.id"
        ng-class="{'is-blocked': issue.is_blocked}"
    )
        div.level-field(tg-listitem-type="issue" ng-if="!ctrl.sprintIssues")
        div.level-field(tg-listitem-severity="issue" ng-if="!ctrl.sprintIssues")
        div.level-field(tg-listitem-priority="issue" ng-if="!ctrl.sprintIssues")
        div.votes.ng-animate-disabled(
            ng-class="{'inactive': !issue.total_voters}"
            ng-if="!issue.is_voter && !ctrl.sprintIssues"
            title="{{ 'COMMON.VOTE_BUTTON.COUNTER_TITLE'|translate:{total:issue.total_voters||0}:'messageformat' }}"
            ng-click="ctrl.upVoteIssue(issue.id)"
            tg-loading="ctrl.voting == issue.id"
        )
            tg-svg(svg-icon="icon-upvote")
            span {{ issue.total_voters }}
        div.votes.ng-animate-disabled(
            ng-class="{'is-voted': issue.is_voter}"
            ng-if="issue.is_voter && !ctrl.sprintIssues"
            title="{{ 'COMMON.VOTE_BUTTON.COUNTER_TITLE'|translate:{total:issue.total_voters||0}:'messageformat' }}"
            ng-click="ctrl.downVoteIssue(issue.id)"
            tg-loading="ctrl.voting == issue.id"
        )
            tg-svg(svg-icon="icon-upvote")
            span {{ issue.total_voters }}
        div.subject
            a(
                href=""
                tg-nav="project-issues-detail:project=project.slug,ref=issue.ref"
                title="#{{ ::issue.ref }} {{ ::issue.subject }}"
            )
                span(tg-bo-ref="issue.ref")
                span.blocked-text(
                    ng-if="issue.is_blocked"
                    title="{{issue.blocked_note}}"
                ) {{'ISSUES.TABLE.BLOCKED' | translate}}
                span(ng-bind-html="issue.subject | emojify")
                tg-due-date(
                    due-date="issue.due_date"
                    is-closed="us.is_closed"
                    ng-if="issue.due_date"
                    obj-type="issue"
                )


        div.issue-field(tg-issue-status-inline-edition="issue")
            a.issue-status(
                href=""
                title="{{'ISSUES.TABLE.TITLE_ACTION_CHANGE_STATUS' | translate}}"
            )
                span.issue-status-bind
                tg-svg(
                    tg-check-permission="modify_issue"
                    svg-icon="icon-arrow-down"
                )

        div.issue-field(ng-if="ctrl.sprintIssues")
            {{ issue.attachments.length }}

        div.modified-field(
            title="{{ issue.modified_date|momentFormat:'DD MMM YYYY HH:mm' }}"
        ) {{ issue.modified_date|momentFormat:'DD MMM YYYY'}}

        div.assigned-field(tg-issue-assigned-to-inline-edition="issue")
            div.issue-assignedto(title="{{'ISSUES.TABLE.TITLE_ACTION_ASSIGNED_TO' | translate}}")
                figure.avatar
                tg-svg(
                    tg-check-permission="modify_issue"
                    svg-icon="icon-arrow-down"
                )

section.empty-large(ng-if="ctrl.issues != undefined && ctrl.issues.length == 0")
    img(
        src="/#{v}/images/empty/empty_moon.png",
        alt="{{ISSUES.TABLE.EMPTY.TITLE | translate }}"
    )
    p.title(translate="ISSUES.TABLE.EMPTY.TITLE")
    a(
        href=""
        ng-click="ctrl.onAddNewIssue()"
        tg-check-permission="add_issue"
        title="{{ ISSUES.ACTION_NEW_ISSUE | translate }}"
        translate="ISSUES.TABLE.EMPTY.SUBTITLE"
    )
