
//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.
//-
//- Copyright (c) 2021-present Kaleidos Ventures SL

.diff-status-wrapper(
    ng-if="key === 'attachments'"
)
    include history-templates/history-attachments

.diff-status-wrapper(
    ng-if="key === 'content_diff'"
)
    p.diff(
        ng-if="diff[0]"
        ng-bind-html="diff[0]"
    )
    p.diff(
        ng-if="diff[1]"
        ng-bind-html="diff[1]"
    )
