nav.history-tabs(ng-if="vm.historyEntries.count()>0")
    a.history-tab(
        ng-class="{active: vm.toggle}"
        ng-click="vm.toggle = !vm.toggle"
        href=""
        title="{{ACTIVITY.TITLE}}"
        translate="ACTIVITY.TITLE"
    )
p {{ disablePagination }}
section.wiki-history(
    ng-if="vm.historyEntries.count()>0 && vm.toggle"
    infinite-scroll="vm.nextPage()"
    infinite-scroll-immediate-check="false"
    infinite-scroll-disabled="vm.disablePagination"
)
    tg-wiki-history-entry.wiki-history-entry(
        tg-repeat="historyEntry in vm.historyEntries"
        history-entry="historyEntry"
    )
