tg-lightbox-close

.create-epic-container
    h2.title(translate="EPICS.CREATE.TITLE")
    form(
        ng-submit="vm.createEpic()"
    )
        fieldset
            // TODO ADD COLOR SELECTOR
            //- tg-color-selector(on-select-dropdown-color="vm.newEpic.color = color")
            input(
                type="text"
                name="subject"
                maxlength="140"
                ng-model="vm.newEpic.subject"
                tg-auto-select
                placeholder="{{'COMMON.FIELDS.SUBJECT' | translate}}"
                required
            )
        fieldset
            select(
                id="epic-status"
                name="status"
                ng-model="vm.newEpic.status"
            )
                option(
                    ng-repeat="status in vm.project.epic_statuses | orderBy:'order'"
                    ng-value="status.id"
                    ng-selected="vm.project.default_epic_status"
                ) {{status.name}}
        fieldset.tags-block(
            tg-lb-tag-line
            ng-model="vm.newEpic.tags"
        )
        fieldset
            textarea(
                ng-attr-placeholder="{{'COMMON.FIELDS.DESCRIPTION' | translate}}"
                ng-model="vm.newEpic.description"
            )
        fieldset
            tg-attachments-simple(
                attachments="vm.attachments"
            )
        .settings
            fieldset.team-requirement
                input(
                    type="checkbox"
                    name="team_requirement"
                    ng-model="vm.newEpic.team_requirement"
                    id="team-requirement"
                )
                label.requirement.trans-button(
                    for="team-requirement"
                    translate="EPICS.CREATE.TEAM_REQUIREMENT"
                )
            fieldset.client-requirement
                input(
                    type="checkbox"
                    name="client_requirement"
                    ng-model="vm.newEpic.client_requirement"
                    id="client-requirement"
                )
                label.requirement.trans-button(
                    for="client-requirement"
                    translate="EPICS.CREATE.CLIENT_REQUIREMENT"
                )
            fieldset
                input(
                    type="checkbox"
                    name="blocked"
                    ng-model="vm.newEpic.is_blocked"
                    id="blocked"
                    ng-click="displayBlockedReason = !displayBlockedReason"
                )
                label.requirement.trans-button.blocked(
                    for="blocked"
                    translate="EPICS.CREATE.BLOCKED"
                )
        fieldset(ng-if="displayBlockedReason")
            input(
                type="text"
                name="blocked_note"
                maxlength="140"
                ng-model="vm.newEpic.blocked_note"
                placeholder="{{'EPICS.CREATE.BLOCKED_NOTE_PLACEHOLDER' | translate}}"
            )
        fieldset
            input.button-green.create-epic-button(
                type="submit"
                translate="EPICS.CREATE.CREATE_EPIC"
            )

