button.select(
    type="button"
    ng-click="displayOptions()"
)
    span.swimlane-select-text(ng-if="currentSwimlane")
        span {{currentSwimlane.name}}
        span.swimlane-default(ng-if="currentSwimlane.id == defaultSwimlaneId") (default)
    span.swimlane-select-text.unclassified(ng-if="!currentSwimlane") {{ "KANBAN.UNCLASSIFIEDUSER_STORIES" | translate }}
    tg-svg(svg-icon="icon-arrow-down")
.options(
    ng-show="displaySelector"
    ng-mouseleave="hideOptions()"
    ng-mouseenter="displayOptions()"
)
    button.option(
        type="button"
        tg-repeat="swimlane in swimlanes"
        ng-class="{'selected': swimlane.id == currentSwimlaneId, 'unclassified': swimlane.id == -1}"
        ng-click="selectSwimlane(swimlane)"
    )
        span {{ swimlane.name }}
        span.swimlane-default(ng-if="defaultSwimlaneId == swimlane.id") (default)
