
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC


button.select(
    type="button"
    ng-click="displayOptions()"
)
    span.swimlane-select-text(ng-if="currentSwimlane.id")
        span {{currentSwimlane.name}}
        span.swimlane-default(ng-if="currentSwimlane.id == defaultSwimlaneId && swimlanes.size > 1") ({{"LIGHTBOX.CREATE_EDIT.DEFAULT" | translate}})
    span.swimlane-select-text.unclassified(ng-if="!currentSwimlane.id") {{ "KANBAN.UNCLASSIFIED_USER_STORIES" | translate }}
    tg-svg(svg-icon="icon-arrow-down")
.options(
    ng-show="displaySelector"
    ng-mouseleave="hideOptions()"
    ng-mouseenter="displayOptions()"
)
    button.option(
        class="unclassified"
        type="button"
        ng-if="hasUnclassifiedStories == 'true'"
        ng-class="{'selected': selectedSwimlane == -1}"
        ng-click="selectSwimlane('noSwimlane')"
    ) {{ "KANBAN.UNCLASSIFIED_USER_STORIES" | translate }}

    button.option(
        type="button"
        tg-repeat="swimlane in swimlanes"
        ng-class="{'selected': swimlane.id == selectedSwimlane, 'unclassified': swimlane.id == -1 || swimlane.id == null}"
        ng-click="selectSwimlane(swimlane)"
    )
        span {{ swimlane.name }}
        span.swimlane-default(ng-if="defaultSwimlaneId == swimlane.id && swimlanes.size > 1") ({{"LIGHTBOX.CREATE_EDIT.DEFAULT" | translate}})
