.import-project-github-form
    div(ng-include="'projects/create/import/import-header.html'")

    .spin(tg-loading="vm.fetchingUsers")

    form(
        ng-if="!vm.fetchingUsers",
        name="projectForm",
        ng-submit="vm.saveForm()"
    )
        div(ng-include="'projects/create/import-project-form-common/name.html'")
        div(ng-include="'projects/create/import-project-form-common/description.html'")

        .create-project-github-import-type(role="group")
            p.question(translate="PROJECT.IMPORT.GITHUB.HOW_DO_YOU_WANT_TO_IMPORT")
            .create-project-github-import-type-question
                fieldset
                        input(
                            type="radio"
                            name="project_type"
                            id="template-issues"
                            data-required="true"
                            aria-hidden="true"
                            ng-value="'issues'"
                            ng-model="vm.projectForm.project_type"
                            required
                        )
                        label(for="template-issues")
                            span.create-project-github-import-type-name(translate="PROJECT.IMPORT.GITHUB.ISSUES_PROJECT")
                            p.create-project-github-import-type-description(translate="PROJECT.IMPORT.GITHUB.ISSUES_PROJECT_DESCRIPTION")
                fieldset
                        input(
                            type="radio"
                            name="project_type"
                            id="template-scrum"
                            data-required="true"
                            aria-hidden="true"
                            ng-value="'scrum'"
                            ng-model="vm.projectForm.project_type"
                            required
                        )
                        label(for="template-scrum")
                            span.create-project-github-import-type-name(translate="PROJECT.IMPORT.GITHUB.SCRUM_PROJECT")
                            p.create-project-github-import-type-description(translate="PROJECT.IMPORT.GITHUB.SCRUM_PROJECT_DESCRIPTION")
                fieldset
                        input(
                            type="radio"
                            name="project_type"
                            id="template-kanban"
                            data-required="true"
                            aria-hidden="true"
                            ng-value="'kanban'"
                            ng-model="vm.projectForm.project_type"
                            required
                        )
                        label(for="template-kanban")
                            span.create-project-github-import-type-name(translate="PROJECT.IMPORT.GITHUB.KANBAN_PROJECT")
                            p.create-project-github-import-type-description(translate="PROJECT.IMPORT.GITHUB.KANBAN_PROJECT_DESCRIPTION")
        div(ng-include="'projects/create/import-project-form-common/project-privacy.html'")
        tg-create-project-restrictions(
            is-private="vm.projectForm.is_private"
            can-create-public-projects="vm.canCreatePublicProjects"
            can-create-private-projects="vm.canCreatePrivateProjects"
        )
        tg-create-project-members-restrictions(
            is-private="vm.projectForm.is_private"
            limit-members-private-project="vm.limitMembersPrivateProject"
            limit-members-public-project="vm.limitMembersPublicProject"
        )
        div(ng-include="'projects/create/import-project-form-common/links.html'")
        div(ng-include="'projects/create/import-project-form-common/actions.html'")
