a.user-avatar(
    tg-nav="profile"
    title="{{ vm.user.get('full_name_display') }}"
    ) {{ vm.user.get('full_name_display') }}
    img(
        tg-avatar="vm.user"
        alt="{{ vm.user.get('full_name_display') }}"
        height="40px"
    )

div.navbar-dropdown.dropdown-user
    ul
        li
            a(
                tg-nav="profile",
                title="{{'PROJECT.NAVIGATION.VIEW_PROFILE_TITLE' | translate}}",
                translate="PROJECT.NAVIGATION.VIEW_PROFILE")
        li
            a(
                href="#",
                tg-nav="user-settings-user-profile",
                title="{{'PROJECT.NAVIGATION.EDIT_PROFILE_TITLE' | translate}}",
                translate="PROJECT.NAVIGATION.EDIT_PROFILE")

        li.plugin(ng-repeat="plugin in vm.userSettingsPlugins")
            a(
                href=""
                tg-nav="user-settings-contrib:plugin=plugin.slug"
                ng-class="{active: plugin.slug == currentPlugin.slug}"
            )
                span.title {{ plugin.name }}
        li
            a(
                href="#",
                tg-nav="user-settings-user-change-password",
                title="{{'PROJECT.NAVIGATION.CHANGE_PASSWORD_TITLE' | translate}}",
                translate="PROJECT.NAVIGATION.CHANGE_PASSWORD")

        li
            a(
                href="#",
                tg-nav="user-settings-mail-notifications",
                title="{{'PROJECT.NAVIGATION.NOTIFICATIONS_TITLE' | translate}}",
                translate="PROJECT.NAVIGATION.NOTIFICATIONS")

        li(ng-show="vm.isFeedbackEnabled")
            a(
                href="#",
                ng-click="vm.sendFeedback()",
                title="{{'PROJECT.NAVIGATION.FEEDBACK_TITLE' | translate}}",
                translate="PROJECT.NAVIGATION.FEEDBACK")
        li
            a(
                href="{{ vm.supportUrl }}",
                target="_blank",
                title="{{'PROJECT.NAVIGATION.HELP_TITLE' | translate}}",
                translate="PROJECT.NAVIGATION.HELP")
        li
            a(
                href="#",
                ng-click="vm.logout()",
                title="{{'COMMON.LOGOUT' | translate}}",
                translate="COMMON.LOGOUT")
