a.user-avatar(href="#", title="{{ vm.user.full_name_display }}")
     {{ vm.user.full_name_display }}
    img(tg-bo-src="vm.user.photo", alt="{{ vm.user.full_name_display }}")

div.navbar-dropdown.dropdown-user
    ul
        li
            a(
                href="#",
                title="{{'PROJECT.NAVIGATION.VIEW_PROFILE_TITLE' | translate}}",
                translate="PROJECT.NAVIGATION.VIEW_PROFILE")
        li
            a(
                href="#",
                tg-nav="user-settings-user-profile",
                title="{{'PROJECT.NAVIGATION.EDIT_PROFILE_TITLE' | translate}}",
                translate="PROJECT.NAVIGATION.EDIT_PROFILE")
        li
            a(
                href="#",
                tg-nav="user-settings-user-change-password",
                title="{{'PROJECT.NAVIGATION.CHANGE_PASSWORD_TITLE' | translate}}",
                translate="PROJECT.NAVIGATION.CHANGE_PASSWORD")

        //li
        //    a(
        //        href="#",
        //        title="{{'PROJECT.NAVIGATION.ORGANIZATIONS_TITLE' | translate}}",
        //        translate="PROJECT.NAVIGATION.ORGANIZATIONS")
        //li
        //    a(
        //        href="#",
        //        title="{{'PROJECT.NAVIGATION.SETTINGS_TITLE' | translate}}",
        //        translate="PROJECT.NAVIGATION.SETTINGS")

        li
            a(
                href="#",
                tg-nav="user-settings-mail-notifications",
                title="{{'PROJECT.NAVIGATION.NOTIFICATIONS_TITLE' | translate}}",
                translate="PROJECT.NAVIGATION.NOTIFICATIONS")

        li(ng-show="vm.isFeedbackEnabled()")
            a(
                href="#",
                ng-click="vm.sendFeedback()",
                title="{{'PROJECT.NAVIGATION.FEEDBACK_TITLE' | translate}}",
                translate="PROJECT.NAVIGATION.FEEDBACK")
        li
            a(
                href="https://taiga.io/support/",
                target="_blank",
                title="{{'PROJECT.NAVIGATION.HELP_TITLE' | translate}}",
                translate="PROJECT.NAVIGATION.HELP")
        li
            a(
                href="#",
                ng-click="vm.logout()",
                title="{{'COMMON.LOGOUT' | translate}}",
                translate="COMMON.LOGOUT")
