- var hash = "#";
span.belong-to-epic-text-wrapper(tg-repeat="epic in immutable_epics track by epic.get('id')")
    a.belong-to-epic-text(
        href=""
        tg-nav="project-epics-detail:project=epic.getIn(['project', 'slug']),ref=epic.get('ref')"
    ) #{hash}{{epic.get('ref')}} {{epic.get('subject')}}
    span.belong-to-epic-label(
        ng-style="::{'background-color': epic.get('color')}"
        translate="EPICS.EPIC"
    )
