- var hash = "#";
span.belong-to-epic-text-wrapper(tg-repeat="epic in epics track by epic.get('id')")
    .belong-to-epic-pill(
        ng-style="{'background': epic.get('color')}"
        title="#{hash}{{epic.get('id')}} {{epic.get('subject')}}"
    )
    a.belong-to-epic-text(
        href=""
        tg-nav="project-epics-detail:project=epic.getIn(['project', 'slug']),ref=epic.get('ref')"
    ) #{hash}{{epic.get('id')}} {{epic.get('subject')}}
