section.profile-timeline
    div(ng-if="vm.loading")
         div.spin
            img(
                src="/#{v}/svg/spinner-circle.svg"
                alt="Loading..."
            )

    div(
        infinite-scroll="vm.loadTimeline()"
        infinite-scroll-disabled="vm.scrollDisabled"
        ng-if="vm.timelineList.size"
    )
        div(
            tg-repeat="timeline in vm.timelineList"
            tg-user-timeline-item="timeline"
        )
