a.list-itemtype-ticket(
    href="{{ ::vm.duty.get('url') }}"
    title="{{ ::duty.get('subject') }}"
    ng-class="{'blocked': vm.duty.get('is_blocked')}"
)
    div.list-itemtype-avatar(ng-if="::vm.duty.get('assigned_to_extra_info')")
        img(
            ng-src="{{ ::vm.duty.get('assigned_to_extra_info').get('photo') }}"
            title="{{ ::vm.duty.get('assigned_to_extra_info').get('full_name_display') }}"
        )
    div.list-itemtype-avatar(ng-if="::!vm.duty.get('assigned_to_extra_info')")
        img(
            src="/#{v}/images/unnamed.png"
            title="{{'ACTIVITY.VALUES.UNASSIGNED' | translate}}"
        )
    div.list-itemtype-ticket-data
        p
            span.ticket-project {{ ::vm.duty.get('projectName')}}
            span.ticket-type {{ ::vm.getDutyType() }}
            span.ticket-status(ng-style="{'color': vm.duty.get('status_extra_info').get('color')}") {{ ::vm.duty.get('status_extra_info').get('name') }}

        h2
            span.ticket-id(tg-bo-ref="duty.get('ref')")
            span.ticket-title 
                span.ticket-blocked(
                    ng-if="::vm.duty.get('is_blocked')"
                    title="{{::vm.duty.get('blocked_note')}}"
                ) Blocked {{ COMMON.BLOCKED | translate }}
                {{ ::duty.get('subject') }}
