form.register-form
    p.form-header Register a new Taiga account (free)
    fieldset
        input(type="text", name="username", ng-model="dataRegister.username",
              data-required="true", data-maxlength="255", data-regexp="^[\\w.-]+$",
              placeholder="Pick a username (case sensitive)")

    fieldset
        input(type="text", name="full_name", ng-model="dataRegister.full_name",
              data-required="true", data-maxlength="256",
              placeholder="Pick your full name")

    fieldset
        input(type="text", name="email", ng-model="dataRegister.email",
              data-required="true", data-maxlength="255",
              placeholder="Your email")

    fieldset
        input(type="password", name="password", ng-model="dataRegister.password", data-required="true",
            placeholder="Set a password")

    fieldset
        button(type="submit", class="hidden")
        a.button.button-register.button-gray.submit-button(href="", title="Sign up") Sign up

    tg-terms-notice
