div.kanban-table
    div.kanban-table-header
        div.kanban-table-inner(tg-kanban-row-width-fixer)
            h2.task-colum_name(ng-repeat="s in usStatusList track by s.id",
                               ng-style="{'border-top-color':s.color}")
                span(tg-bo-bind="s.name")

                a.icon.icon-minimize(href="", title="Minimize",
                                     ng-if="statusViewModes[s.id] == 'maximized'",
                                     ng-click="ctrl.updateStatusViewMode(s.id, 'minimized')")
                a.icon.icon-maximize(href="", title="Maximize",
                                     ng-if="statusViewModes[s.id] == 'minimized'",
                                     ng-click="ctrl.updateStatusViewMode(s.id, 'maximized')")

                a.icon.icon-plus(href="", title="Add New task",
                                 ng-click="ctrl.addNewUs('standard', s.id)",
                                 tg-check-permission="add_us")

                a.icon.icon-bulk(href="", title="Add New bulk",
                                 ng-click="ctrl.addNewUs('bulk', s.id)",
                                 tg-check-permission="add_us")

    div.kanban-table-body
        div.kanban-table-inner(tg-kanban-row-width-fixer)
            div.kanban-uses-box.task-column(ng-repeat="status in usStatusList track by status.id",
                                            tg-kanban-sortable,
                                            tg-kanban-wip-limit,
                                            tg-kanban-column-height-fixer)
                div.kanban-task(ng-repeat="us in usByStatus[status.id]|orderBy:'kanban_order' track by us.id",
                                tg-kanban-userstory, ng-model="us",
                                ng-class="ctrl.getCardClass(status.id)")
