a.close(href="", title="close")
    span.icon.icon-delete
form
    h2.title(tr="us.title-new")
    fieldset
        input(type="text", name="subject", ng-model="us.subject", tr="placeholder:common.subject",
              data-required="true", data-maxlength="500")

    fieldset.estimation
        tg-lb-us-estimation(ng-model="us.points")

    fieldset
        select(name="status", ng-model="us.status", ng-options="s.id as s.name for s in usStatusList",
               tr="placeholder:common.status")

    fieldset
        div.tags-block(tg-lb-tag-line, ng-model="us.tags")

    fieldset
        textarea.description(name="description", ng-model="us.description",
                             placeholder="Please add descriptive text to help others better understand this US")
    div.settings
        fieldset.team-requirement
            input(type="checkbox", name="team_requirement", ng-model="us.team_requirement",
                  id="team-requirement", ng-value="true")
            label.requirement(for="team-requirement", tr="us.team-requirement")

        fieldset.client-requirement
            input(type="checkbox", name="client_requirement", ng-model="us.client_requirement",
                  id="client-requirement", ng-value="true")
            label.requirement(for="client-requirement", tr="us.client-requirement")

        fieldset.blocking-flag
            input(type="checkbox", name="is_blocked", ng-model="us.is_blocked", id="blocked-us" ng-value="true")
            label.blocked(for="blocked-us", tr="common.blocked")

    tg-blocking-message-input(watch="us.is_blocked", ng-model="us.blocked_note")

    a.button.button-green(href="", title="Save")
        span Create
