a.close(href="", title="close")
    span.icon.icon-delete
form
    h2.title Create Project
    form
        fieldset
            input(type="text", name="name", ng-model="data.name", data-required="true",
                  placeholder="Name")
        fieldset
            textarea(name="description", ng-model="data.description", data-required="true",
                  placeholder="Description")
        fieldset
            input(type="number", name="total_story_point", min="0", ng-model="data.total_story_point",
                  data-type="digits", data-required="true", placeholder="Total story point")

        fieldset
            input(type="number", name="total_milestones", min="0", ng-model="data.total_milestones",
                  data-type="digits", placeholder="Total milestones")

        fieldset
            select(name="creation_template", ng-model="data.creation_template",
                   ng-options="template.id as template.name for template in templates")
                option(value="") Select one template to generate the defaults values for the new project

        fieldset
            a.button.button-green(href="", title="Create") Create
            input(type="submit", class="hidden")
