div.register-form-container(tg-register)
    form.register-form
        fieldset
            input(type="text", name="username", ng-model="data.username",
                  data-required="true", data-maxlength="255", data-regexp="^[\\w.-]+$",
                  placeholder="Pick a username (case sensitive)")

        fieldset
            input(type="text", name="full_name", ng-model="data.full_name",
                  data-required="true", data-maxlength="256",
                  placeholder="Pick your full name")

        fieldset
            input(type="text", name="email", ng-model="data.email",
                  data-required="true", data-maxlength="255",
                  placeholder="Your email")

        fieldset
            input(type="password", name="password", ng-model="data.password",
                data-required="true", data-minlength="4",
                placeholder="Set a password (case sensitive)")

        fieldset
            a.button.button-register.button-gray(href="", title="Sign up") Sign up
            input(type="submit", class="hidden")

        fieldset
            a.button.button-github(href="", title="enter with your github account")
                span.icon.icon-github
                span Sign Up with Github
            input(type="submit", style="display:none")

        // Only displays terms notice when terms plugin is loaded.
        tg-terms-notice

        a.register-text-top(href="", title="Login", tg-nav="login") Are you already registered? Log in
