<% if (selected) { %>
.user-list-single.is-active
    .user-list-avatar
        a(
            href=""
            title="{{'COMMON.ASSIGNED_TO' | translate}}"
        )
            img(src!="<%- selected.photo %>")
    a.user-list-name(
        href="" 
        title!="<%- selected.full_name_display %>"
    )
        | <%-selected.full_name_display %>
    svg.icon.icon-close.remove-assigned-to(
        href="" 
        title="{{'COMMON.ASSIGNED_TO.REMOVE_ASSIGNED' | translate}}"
    )
        use(xlink:href="#icon-close")
<% } %>

<% _.each(users, function(user) { %>
.user-list-single(data-user-id!="<%- user.id %>")
    .user-list-avatar
        a(
            href="#"
            title="{{'COMMON.ASSIGNED_TO.TITLE' | translate}}"
        )
            img(src!="<%- user.photo %>")
    a.user-list-name(
        href=""
        title!="<%- user.full_name_display %>"
    )
        | <%- user.full_name_display %>
<% }) %>

<% if (showMore) { %>
.more-watchers
    span(translate="COMMON.ASSIGNED_TO.TOO_MANY")
<% } %>
