a(href="", title="Projects")
    include ../../../svg/projects.svg

div.navbar-dropdown.dropdown-project-list
    ul
        a(href="#",
            ng-repeat="project in vm.projects.recents",
            ng-bind="::project.name"
            tg-nav="project:project=project.slug")

    a.see-more-projects-btn.button-gray(
        href="#",
        tg-nav="projects",
        title="{{'PROJECT.NAVIGATION.SEE_MORE_PROJECTS' | translate}}",
        translate="PROJECT.NAVIGATION.SEE_MORE_PROJECTS")

    a.create-project-btn.button-green(
        href="#",
        ng-click="vm.newProject()",
        title="{{'PROJECT.NAVIGATION.ACTION_CREATE_PROJECT' | translate}}",
        translate="PROJECT.NAVIGATION.ACTION_CREATE_PROJECT")
