a(
    href=""
    title="Projects"
    tg-nav="projects"
    ng-class="{'active': active}"
)
    tg-svg(svg-icon="icon-project")

div.navbar-dropdown.dropdown-project-list
    ul
      li(tg-repeat="project in vm.projects track by project.get('id')")
        a(
            href="#"
            tg-nav="project:project=project.get('slug')"
            ng-class="{'blocked-project': project.get('blocked_code')}"
        )
            span {{::project.get("name")}}
            tg-svg(
                svg-icon="icon-blocked-project"
                ng-if="project.get('blocked_code')"
                svg-title="PROJECT.BLOCKED_PROJECT.BLOCKED"
            )

    a.see-more-projects-btn.button-gray(
        href="#",
        tg-nav="projects",
        title="{{'PROJECT.NAVIGATION.MANAGE_PROJECTS' | translate}}",
        translate="PROJECT.NAVIGATION.MANAGE_PROJECTS")

    div.create-options
        a.create-project-btn.button-green(
            href="#",
            tg-nav="create-project"
            title="{{'PROJECT.NAVIGATION.ACTION_CREATE_PROJECT' | translate}}",
            translate="PROJECT.NAVIGATION.ACTION_CREATE_PROJECT")
