a(href="", title="Projects", tg-nav="projects")
    svg.icon.icon-project
        use(xlink:href="#icon-project")

div.navbar-dropdown.dropdown-project-list
    ul
      li(tg-repeat="project in vm.projects track by project.get('id')")
        a(href="#", tg-nav="project:project=project.get('slug')") {{::project.get("name")}}

    a.see-more-projects-btn.button-gray(
        href="#",
        tg-nav="projects",
        title="{{'PROJECT.NAVIGATION.MANAGE_PROJECTS' | translate}}",
        translate="PROJECT.NAVIGATION.MANAGE_PROJECTS")

    div.create-options
        a.create-project-btn.button-green(
            href="#",
            ng-click="vm.newProject()",
            title="{{'PROJECT.NAVIGATION.ACTION_CREATE_PROJECT' | translate}}",
            translate="PROJECT.NAVIGATION.ACTION_CREATE_PROJECT")

        a.button-blackish.import-project-button(
            href=""
            title="{{'PROJECT.NAVIGATION.TITLE_IMPORT_PROJECT' | translate}}"
            tg-import-project-button
        )
            svg.icon.icon-upload
                use(xlink:href="#icon-upload")
            input.import-file.hidden(type="file")
