extends dummy-layout

block head
    title Taiga  Your agile, free, and open source project management tool

block content
    div.wrapper(ng-controller="TaskDetailController as ctrl",
                ng-init="section='backlog'")
        div.main.us-detail
            div.us-detail-header.header-with-actions
                include views/components/mainTitle
                .action-buttons
                    a.button.button-gray(
                        tg-check-permission="view_milestones",
                        href="", title="Go to taskboard",
                        tg-nav="project-taskboard:project=project.slug,sprint=sprint.slug",
                        ng-if="sprint && project.is_backlog_activated") Taskboard

            section.us-story-main-data
                div.us-title(ng-class="{blocked: task.is_blocked}")
                    h2.us-title-text
                        span.us-number(tg-bo-ref="task.ref")
                        span.us-name(tg-editable-subject, ng-model="task", required-perm="modify_task")
                    h3.us-related-task This task belongs to
                        a(tg-check-permission="view_us", href="", title="Go to user story",
                        tg-nav="project-userstories-detail:project=project.slug, ref=us.ref",
                        ng-if="us")
                            span(tg-bo-ref="us.ref")
                            span(tg-bo-bind="us.subject")
                    p.block-desc-container(ng-show="task.is_blocked")
                        span.block-description-title Blocked
                        span.block-description(tg-bind-html="task.blocked_note || 'This task is blocked'")
                    div.issue-nav
                        a.icon.icon-arrow-left(ng-show="previousUrl", tg-bo-href="previousUrl", title="previous task")
                        a.icon.icon-arrow-right(ng-show="nextUrl", tg-bo-href="nextUrl", title="next task")

                div(tg-tag-line, editable="true", autosave-model="task", ng-model="task.tags", required-perm="modify_task")

            section.us-content.wysiwyg(tg-editable-description, ng-model="task", required-perm="modify_task")

            tg-attachments(ng-model="task", type="task")
            tg-history(ng-model="task", type="task")

        sidebar.menu-secondary.sidebar
            section.us-status
                h1(tg-task-status-display, ng-model="task")
                tg-created-by-display.us-created-by(ng-model="task")
                tg-task-status-button.issue-data(ng-model="task")

            section.us-assigned-to(tg-assigned-to, ng-model="task")

            section.watchers(tg-watchers, ng-model="task")

            section.us-detail-settings
               fieldset(tg-task-is-iocaine-button, tg-check-permission="modify_task", ng-model="task")
               div(tg-check-permission="modify_task", tg-block-button, ng-model="task")
               tg-delete-button(tg-check-permission="delete_task",
                                on-delete-go-to-url="project-backlog",
                                project-slug="{{ project.slug }}",
                                ng-model="task")

        div.lightbox.lightbox-block.hidden(tg-lb-block, title="Blocking task", ng-model="task")
        div.lightbox.lightbox-select-user(tg-lb-assignedto)
        div.lightbox.lightbox-select-user(tg-lb-watchers)
