extends dummy-layout

block head
    title Taiga  Your agile, free, and open source project management tool

block content
    div.wrapper(tg-us-detail, ng-controller="UserStoryDetailController as ctrl",
                ng-init="section='backlog'")
        div.main.us-detail
            div.us-detail-header.header-with-actions
                include views/components/mainTitle
                .action-buttons
                    a.button.button-gray(
                        tg-check-permission="view_milestones",
                        href="", title="Go to taskboard",
                        tg-nav="project-taskboard:project=project.slug,sprint=sprint.slug",
                        ng-if="sprint && project.is_backlog_activated") Taskboard
                    a.button.button-green(
                        tg-check-permission="modify_us", href="",
                        title="Edit",
                        tg-nav="project-userstories-detail-edit:project=project.slug,ref=us.ref") Edit

            section.us-story-main-data
                div.us-title(ng-class="{blocked: us.is_blocked}")
                    h2.us-title-text
                        span.us-number(tg-bo-ref="us.ref")
                        span.us-name(ng-bind="us.subject")

                    p.block-desc-container(ng-show="us.is_blocked")
                        span.block-description-title Blocked
                        span.block-description(tg-bind-html="us.blocked_note || 'This user story is blocked'")
                    div.issue-nav
                        a.icon.icon-arrow-left(ng-show="previousUrl",href="{{ previousUrl }}",
                                                title="previous user story")
                        a.icon.icon-arrow-right(ng-show="nextUrl", href="{{ nextUrl }}", title="next user story")

                div(tg-tag-line, ng-model="us.tags", ng-show="us.tags")

            section.us-content.wysiwyg(tg-bind-html="us.description_html")

            include views/modules/related-tasks

            tg-attachments(ng-model="us", type="us")
            tg-history(ng-model="us", type="us")

        sidebar.menu-secondary.sidebar
            section.us-status(tg-us-status-detail, ng-model="us")
            section.us-assigned-to(tg-assigned-to, ng-model="us")
            section.us-created-by(tg-created-by, ng-model="us")
            section.watchers(tg-watchers, ng-model="us")

            section.us-detail-settings
                span.button.button-gray(href="", title="Client requirement",
                                        ng-class="{'active': us.client_requirement}") Client requirement
                span.button.button-gray(href="", title="Team requirement",
                                        ng-class="{'active': us.team_requirement}") Team requirement

        div.lightbox.lightbox-select-user.hidden(tg-lb-assignedto)
