extends dummy-layout

block head
    title Taiga  Your agile, free, and open source project management tool

block content
    div.wrapper(tg-us-detail, ng-controller="UserStoryDetailController as ctrl",
                ng-init="section='backlog'")
        div.main.us-detail
            div.us-detail-header.header-with-actions
                include views/components/mainTitle
                .action-buttons
                    a.button.button-gray(
                        tg-check-permission="view_milestones",
                        href="", title="Go to taskboard",
                        tg-nav="project-taskboard:project=project.slug,sprint=sprint.slug",
                        ng-if="sprint && project.is_backlog_activated") Taskboard
                    a.button.button-green(
                        tg-check-permission="modify_us", href="",
                        title="Edit",
                        tg-nav="project-userstories-detail-edit:project=project.slug,ref=us.ref") Edit

            section.us-story-main-data
                div.us-title(ng-class="{blocked: us.is_blocked}")
                    h2.us-title-text
                        span.us-number(tg-bo-ref="us.ref")
                        span.us-name(ng-bind="us.subject")

                    p.us-related-task(ng-if="us.origin_issue") This US has been promoted from Issue
                        a(tg-check-permission="view_us", href="", title="Go to issue",
                          tg-nav="project-issues-detail:project=project.slug, ref=us.origin_issue.ref"
                          tg-bo-title="'#' + us.origin_issue.ref + ' ' + us.origin_issue.subject")
                            span(tg-bo-ref="us.origin_issue.ref")

                    p.block-desc-container(ng-show="us.is_blocked")
                        span.block-description-title Blocked
                        span.block-description(tg-bind-html="us.blocked_note || 'This user story is blocked'")
                    div.issue-nav
                        a.icon.icon-arrow-left(ng-show="previousUrl",href="{{ previousUrl }}",
                                               title="previous user story")
                        a.icon.icon-arrow-right(ng-show="nextUrl", href="{{ nextUrl }}", title="next user story")

                div(tg-tag-line, ng-model="us.tags", ng-show="us.tags")

            section.us-content.wysiwyg(tg-bind-html="us.description_html")

            include views/modules/related-tasks

            tg-attachments(ng-model="us", type="us")
            tg-history(ng-model="us", type="us")

        sidebar.menu-secondary.sidebar
            section.us-status
                h1(tg-us-status-display, ng-model="us")
                div.us-detail-progress-bar(tg-us-tasks-progress-display, ng-model="tasks")
                div.us-created-by(tg-created-by-display, ng-model="us")
                tg-us-estimation(ng-model="us", save-after-modify="true")

            section.us-assigned-to(tg-assigned-to, ng-model="us")

            section.watchers(tg-watchers, ng-model="us")

            section.us-detail-settings
                fieldset(tg-us-team-requirement-button, ng-model="us")
                fieldset(tg-us-client-requirement-button, ng-model="us")
                div(tg-block-button, ng-model="us")
                div(tg-check-permission="delete_us", tg-delete-button,
                    on-delete-go-to-url="project-backlog",
                    project-slug="{{ project.slug }}" ng-model="us")

        div.lightbox.lightbox-block.hidden(tg-lb-block, title="Blocking us", ng-model="us")
        div.lightbox.lightbox-select-user.hidden(tg-lb-assignedto)
        div.lightbox.lightbox-select-user.hidden(tg-lb-watchers)
