extends dummy-layout

block head
    title Taiga  Your agile, free, and open source project management tool

block content
    div.wrapper(tg-user-profile, ng-controller="UserSettingsController as ctrl",
                ng-init="section='user-settings'")
        sidebar.menu-secondary.sidebar(tg-user-settings-navigation="user-profile")
            include views/modules/user-settings-menu

        section.main.user-profile
            header
                h1
                    span.green(tg-bo-html="sectionName")

            form
                div.container
                    div.avatar-container
                        fieldset(tg-user-avatar)
                            .image-container
                                img.avatar(ng-src="{{user.big_photo}}" alt="avatar")
                                div.overlay
                                    span.icon.icon-spinner
                            input(type="file", id="avatar-field", class="hidden",
                                tg-avatar-model="avatarAttachment")

                            p The image will be cropped to 80x80 size.
                            a.button.button-green.change Change
                            a.use-gravatar Use gravatar image

                    div.data
                        fieldset
                            label(for="email") Username
                            input(type="text", name="username", id="username", placeholder="username",
                                ng-model="user.username", data-required="true", data-maxlength="255",
                                data-regexp="^[\\w.-]+$")

                        fieldset
                            label(for="email") Email
                            input(type="text", name="email", id="email", placeholder="email",
                                  ng-model="user.email", data-type="email", data-required="true",
                                  data-maxlength="255")

                        fieldset
                            label(for="full-name") Full name
                            input(type="text", name="full_name", id="full-name",
                                  placeholder="Set your full name (ex. Íñigo Montoya)",
                                  ng-model="user.full_name", data-required="true",
                                  data-maxlength="256")

                        fieldset
                            label(for="bio") Bio
                            textarea(name="bio", id="bio", placeholder="Tell us something about you",
                                     ng-model="user.bio")

                fieldset.submit
                    input(type="submit", class="hidden")
                    a.button.button-green.save-profile(href="") Save
                    a.delete-account(href="", title="Delete Taiga account",
                                     ng-click="ctrl.openDeleteLightbox()") Delete Taiga account

    div.lightbox.lightbox-delete-account.hidden(tg-lb-delete-user)
        include views/modules/lightbox-delete-account

    div.lightbox.lightbox-confirm-use-gravatar.hidden
        include views/modules/lightbox-use-gravatar
