
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

button.track-button.contact-team.e2e-contact-team(
    title="{{ 'PROJECT.CONTACT_BUTTON.CONTACT_TITLE' | translate }}"
    ng-click="vm.launchContactForm()"
    ng-class="{'contact-team-large': vm.layout == 'large'}"
)
    tg-svg(svg-icon="icon-mail")
    span(
        ng-if="vm.layout == 'large'"
        translate="PROJECT.CONTACT_BUTTON.CONTACT_BUTTON"
    )
