
//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.
//-
//- Copyright (c) 2021-present Kaleidos Ventures SL

button.track-button.contact-team.e2e-contact-team(
    title="{{ 'PROJECT.CONTACT_BUTTON.CONTACT_TITLE' | translate }}"
    ng-click="vm.launchContactForm()"
    ng-class="{'contact-team-large': vm.layout == 'large'}"
)
    tg-svg(svg-icon="icon-mail")
    span(
        ng-if="vm.layout == 'large'"
        translate="PROJECT.CONTACT_BUTTON.CONTACT_BUTTON"
    )
