
//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.
//-
//- Copyright (c) 2021-present Kaleidos Ventures SL

doctype html

div.error-main
    div.error-container
        img.logo-svg(
            ng-src="#{v}/svg/logo.svg"
            alt="TAIGA"
        )
        h1.logo(translate="ERROR.PERMISSION_DENIED")
        p(translate="ERROR.PERMISSION_DENIED_TEXT")
        a(
            href="/"
            title=""
            translate="COMMON.GO_HOME"
        )
