doctype html

div.error-main
    div.error-container
        img.logo-svg(
            ng-src="/#{v}/svg/logo.svg"
            alt="TAIGA"
        )
        h1.logo(translate="ERROR.PERMISSION_DENIED")
        p.error-text(translate="ERROR.PERMISSION_DENIED_TEXT")
        a(
            href="/"
            title=""
            translate="COMMON.GO_HOME"
        )
