.tasks
    .task-name
        .icon.icon-iocaine
        a.clickable(
            tg-nav="project-tasks-detail:project=project.slug,ref=task.ref"
            title!="#<%- task.ref %> <%- task.subject %>")
            span #<%- task.ref %>
            span <%- task.subject %>
        .task-settings
            <% if(perms.modify_task) { %>
            a.icon.icon-edit(
                href=""
                title="{{'COMMON.EDIT' | translate}}"
            )
            <% } %>
            <% if(perms.delete_task) { %>
            a.icon.icon-delete.delete-task(
                href=""
                title="{{'COMMON.DELETE' | translate}}"
            )
            <% } %>

.status(
    tg-related-task-status="task"
    ng-model="task"
)
    a.task-status(
        href="" 
        title="{{'TASK.TITLE_SELECT_STATUS' | translate}}"
    )
        span.task-status-bind
        <% if(perms.modify_task) { %>
        span.icon.icon-arrow-bottom
        <% } %>

.assigned-to(
    tg-related-task-assigned-to-inline-edition="task"
)
    .task-assignedto(
        title="{{'COMMON.FIELDS.ASSIGNED_TO' | translate}}" 
        class="<% if(perms.modify_task) { %>editable<% } %>"
    )
        figure.avatar
        <% if(perms.modify_task) { %>
        span.icon.icon-arrow-bottom
        <% } %>
