.task-reorder
    tg-svg.icon-drag(
        svg-icon="icon-drag"
    )
.task-name
    input(
        type='text'
        placeholder="{{'TASK.PLACEHOLDER_SUBJECT' | translate}}"
    )
.task-settings
    a.save-task(
        href=""
        title="{{'COMMON.SAVE' | translate}}"
    )
        tg-svg(svg-icon="icon-save")
    a.cancel-edit(
        href=""
        title="{{'COMMON.CANCEL' | translate}}"
    )
        tg-svg(svg-icon="icon-cancel")

.status(tg-related-task-status='task', ng-model='task')
  a.task-status(href='', title="{{'TASK.TITLE_SELECT_STATUS' | translate}}")
    span.task-status-bind
    tg-svg(svg-icon="icon-arrow-down")

.assigned-to(tg-related-task-assigned-to-inline-edition='task')
  .task-assignedto(title="{{'COMMON.FIELDS.ASSIGNED_TO' | translate}}")
    figure.avatar
    tg-svg(svg-icon="icon-arrow-down")
