section.working-on-container
    header
        h1.title-bar.working-on-title(translate="HOME.WORKING_ON_SECTION")

    .working-on(ng-if="vm.assignedTo.size")
        .duty-single(
            tg-duty="duty"
            type="working-on"
            tg-repeat="duty in vm.assignedTo"
        )
    .working-on-empty(ng-if="vm.assignedTo != undefined && vm.assignedTo.size === 0")
        p(translate="HOME.EMPTY_WORKING_ON")
        include empty.jade

section.watching-container
    header
        h1.title-bar.watching-title(translate="HOME.WATCHING_SECTION")

    .watching(ng-if="vm.watching.size")
        .duty-single(
            tg-duty="duty"
            type="watching"
            tg-repeat="duty in vm.watching"
            ng-class="{'blocked': duty.is_blocked}"
        )

    .watching-empty(ng-if="vm.watching != undefined && vm.watching.size === 0")
        p(translate="HOME.EMPTY_WATCHING")
        include empty.jade
