h1(translate='PROJECT.NAVIGATION.SECTION_TITLE')
form
    fieldset
        input.search-project(type="text",
                             placeholder="{{'PROJECT.NAVIGATION.PLACEHOLDER_SEARCH' | translate}}")
        a.icon.icon-search

div.create-project-button-wrapper
    a.button-green.create-project-button(href="",
                                         title="{{'PROJECT.NAVIGATION.ACTION_CREATE_PROJECT' | translate}}")
       span(translate="PROJECT.NAVIGATION.ACTION_CREATE_PROJECT")

   div(tg-import-project-button)
       a.button-blackish.import-project-button(href="",
                                               title="{{'PROJECT.NAVIGATION.TITLE_ACTION_IMPORT' | translate}}")
           span.icon.icon-upload
       input.import-file.hidden(type="file")

div.projects-pagination(tg-projects-pagination)
    a.v-pagination-previous.icon.icon-arrow-up(href="",
                                            title="{{'PROJECT.NAVIGATION.TITLE_PRVIOUS_PROJECT' | translate}}")
    div.v-pagination-list
        ul.projects-list
            a.v-pagination-next.icon.icon-arrow-bottom(href="", 
                                               title="{{'PROJECT.NAVIGATION.TITLE_NEXT_PROJECT' | translate}}")
