tg-lightbox-close
form
    header
        h1.title(translate="WIZARD.SECTION_TITLE_CREATE_PROJECT")
        .subtitle(
            translate="WIZARD.CREATE_PROJECT_TEXT"
            role="presentation"
        )
    section.template-option
        .template-selector-title
            legend(translate="WIZARD.CHOOSE_TEMPLATE")
        .template-selector
            fieldset(ng-repeat="template in templates")
                input(
                    type="radio"
                    name="template"
                    id="template-{{ template.id }}"
                    ng-value='template.id'
                    ng-model="data.creation_template"
                    data-required="true"
                )
                label.template-label(for="template-{{ template.id }}")
                    tg-svg(svg-icon="{{'icon-'+template.slug}}")
                    span.template-name {{ template.name }}
        .template-data
            legend(translate="WIZARD.PROJECT_DETAILS")
            fieldset
                input(
                    type="text"
                    name="name"
                    ng-model="data.name"
                    data-required="true"
                    placeholder="{{'COMMON.FIELDS.NAME' | translate}}"
                    maxlength="45"
                    aria-hidden="true"
                )
            fieldset
                textarea(
                    name="description"
                    ng-model="data.description"
                    data-required="true"
                    ng-attr-placeholder="{{'COMMON.FIELDS.DESCRIPTION' | translate}}"
                )
        .template-privacity
            fieldset
                input(
                    type="radio"
                    name="is_private"
                    id="template-public"
                    data-required="true"
                    aria-hidden="true"
                    ng-value="false"
                    ng-model="data.is_private"
                    required
                    ng-disabled="!canCreatePublicProjects.valid"
                    ng-checked="canCreatePublicProjects.valid"
                )
                label.template-privacity(for="template-public")
                    tg-svg(svg-icon="icon-discover")
                    span(translate="WIZARD.PUBLIC_PROJECT")
            fieldset
                input(
                    type="radio"
                    name="is_private"
                    id="template-private"
                    data-required="true"
                    ng-value="true"
                    ng-model="data.is_private"
                    aria-hidden="true"
                    required
                    ng-disabled="!canCreatePrivateProjects.valid"
                    ng-checked="!canCreatePublicProjects.valid"
                )
                label.template-privacity(for="template-private")
                    tg-svg(svg-icon="icon-lock")
                    span(translate="WIZARD.PRIVATE_PROJECT")

        tg-create-project-restriction

        button.button-green.submit-button(
            translate="WIZARD.CREATE_PROJECT"
            title="{{'WIZARD.CREATE_PROJECT' | translate}}"
            ng-click=""
        )
