
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

tg-lightbox-close

form.lightbox-contact-project-container
    img.lightbox-contact-project-logo(
        ng-if="vm.project.logo_big_url"
        alt="{{vm.project.get('name')}}"
        ng-src="vm.project.logo_big_url"
    )
    img.lightbox-contact-project-logo(
        ng-if="!vm.project.logo_big_url"
        tg-project-logo-big-src="vm.project"
        alt="{{vm.project.get('name')}}"
    )
    h2.lightbox-contact-project-title(translate="LIGHTBOX.CONTACT_PROJECT.TITLE")
    h3.lightbox-contact-project-name {{vm.project.get('name')}}
    p(translate="LIGHTBOX.CONTACT_PROJECT.WARNING")
    textarea.lightbox-contact-project-message.e2e-lightbox-contact-project-message(
        ng-model="vm.contact.message"
        required
        placeholder="{{'LIGHTBOX.CONTACT_PROJECT.PLACEHOLDER' | translate}}"
    )
    button.btn-big.lightbox-contact-project-button.e2e-lightbox-contact-project-button(
        translate="LIGHTBOX.CONTACT_PROJECT.SEND"
        ng-click="vm.contactProject()"
        tg-loading="vm.sendingFeedback"
        ng-disabled="!vm.contact.message.length"
    )
