section.duty-custom-fields(ng-show="ctrl.customAttributes.length")
    .custom-fields-header
        span(translate="COMMON.CUSTOM_ATTRIBUTES.CUSTOM_FIELDS")
        a.collapse(
            href=""
            ng-class="{'open': !collapsed}"
            ng-click="toggleCollapse()"
        )
            tg-svg(svg-icon="icon-arrow-down")

    .custom-fields-body(
        ng-show="!collapsed"
        ng-class="{'collapse-fields': ctrl.customAttributes.length > 6}"
    )
        .custom-attribute(
            ng-repeat="attr in ctrl.customAttributes"
            tg-custom-attribute-value="ctrl.getAttributeValue(attr)"
            required-edition-perm!="<%- requiredEditionPerm %>"
        )
