nav.navbar(ng-if="vm.isEnabledHeader")
    div.nav-left
        a.logo(
            ng-if="!vm.isAuthenticated"
            href="https://taiga.io/",
            title="{{'PROJECT.NAVIGATION.HOMEPAGE' | translate}}"
        )
            include ../../svg/logo.svg

        a.logo(
            ng-if="vm.isAuthenticated"
            href="#",
            tg-nav="home",
            title="{{'PROJECT.NAVIGATION.HOMEPAGE' | translate}}"
        )
            include ../../svg/logo.svg

        div.topnav-dropdown-wrapper(
            tg-dropdown-project-list
            active="vm.active == 'projects'"
        )

    div.nav-right(ng-if="!vm.isAuthenticated")
        a.login(
            ng-click="vm.login()"
            href="#",
            title="{{ 'LOGIN_COMMON.ACTION_SIGN_IN' | translate }}"
            translate="LOGIN_COMMON.ACTION_SIGN_IN"
        )
        a.register(
            href="#"
            ng-if="vm.publicRegisterEnabled"
            tg-nav="register"
            title="{{ 'REGISTER_FORM.ACTION_SIGN_UP' | translate }}"
            translate="REGISTER_FORM.ACTION_SIGN_UP"
        )

    div.nav-right(ng-if="vm.isAuthenticated")
        a(
            tg-nav="discover",
            ng-class="{'active': vm.active == 'discover' }"
            title="{{'PROJECT.NAVIGATION.DISCOVER_TITLE' | translate}}"
        )
            tg-svg(svg-icon="icon-compass")

        .topnav-dropdown-wrapper.nav-bar-support(ng-if="vm.customSupportUrl")
            a(
                ng-if="vm.customSupportUrl"
                href="{{ vm.customSupportUrl }}",
                target="_blank",
                title="{{'PROJECT.NAVIGATION.HELP_TITLE' | translate}}",
            )
                tg-svg(svg-icon="icon-help-circle")

            div.navbar-dropdown
                ul
                    li
                        a.secondary(
                            href="{{ vm.customSupportUrl }}",
                            target="_blank",
                        )
                            tg-svg(svg-icon="icon-compass")
                            span {{ 'PROJECT.NAVIGATION.HELP_TITLE' | translate }}
                    li
                        a.secondary(
                            ng-show="vm.isFeedbackEnabled"
                            href="#"
                            ng-click="vm.sendFeedback()",
                            title="{{ 'PROJECT.NAVIGATION.FEEDBACK_TITLE' | translate }}"
                        )
                            tg-svg(svg-icon="icon-message-square")
                            span {{ 'PROJECT.NAVIGATION.FEEDBACK_TITLE' | translate }}

        div.topnav-dropdown-wrapper(
            tg-dropdown-notifications
            active="vm.active == 'notifications'"
        )

        div(tg-dropdown-user)
