nav.navbar(ng-if="vm.isEnabledHeader")
    div.nav-left
        a.logo(
            href="#",
            tg-nav="home",
            title="{{'PROJECT.NAVIGATION.HOMEPAGE' | translate}}")

            include ../../svg/logo.svg

        a(
            href="https://taiga.io/support/",
            target="_blank",
            title="{{'PROJECT.NAVIGATION.HELP_TITLE' | translate}}",
            translate="PROJECT.NAVIGATION.HELP")

    div.nav-right(ng-if="!vm.isAuthenticated")
        a.login(
            ng-click="vm.login()"
            href="#",
            title="{{ 'LOGIN_COMMON.ACTION_SIGN_IN' | translate }}"
        ) {{ 'LOGIN_COMMON.ACTION_SIGN_IN' | translate }}
        a.register(
            ng-click="vm.register()"
            href="#",
            title="{{ 'REGISTER_FORM.ACTION_SIGN_UP' | translate }}"
        ) {{ 'REGISTER_FORM.ACTION_SIGN_UP' | translate }}

    div.nav-right(ng-if="vm.isAuthenticated")
        a(tg-nav="home",
          ng-class="{active: vm.active}",
          title="{{'PROJECT.NAVIGATION.DASHBOARD_TITLE' | translate}}")

            include ../../svg/dashboard.svg

        a(
            href="#",
            tg-nav="discover",
            title="{{'PROJECT.NAVIGATION.DISCOVER_TITLE' | translate}}",
        )
            include ../../svg/discover.svg

        div.topnav-dropdown-wrapper(ng-show="vm.projects.size", tg-dropdown-project-list)
        //- div.topnav-dropdown-wrapper(tg-dropdown-organization-list)
        div.topnav-dropdown-wrapper(tg-dropdown-user)
