nav.navbar(ng-if="vm.isEnabledHeader")
    div.nav-left
        a.logo(
            ng-if="!vm.isAuthenticated"
            href="https://taiga.io/",
            title="{{'PROJECT.NAVIGATION.HOMEPAGE' | translate}}"
        )
            include ../../svg/logo.svg

        a.logo(
            ng-if="vm.isAuthenticated"
            href="#",
            tg-nav="home",
            title="{{'PROJECT.NAVIGATION.HOMEPAGE' | translate}}"
        )
            include ../../svg/logo.svg

        a(
            ng-if="vm.customSupportUrl"
            href="{{ vm.customSupportUrl }}",
            target="_blank",
            title="{{'PROJECT.NAVIGATION.HELP_TITLE' | translate}}",
            translate="PROJECT.NAVIGATION.HELP"
        )

    div.nav-right(ng-if="!vm.isAuthenticated")
        a.login(
            ng-click="vm.login()"
            href="#",
            title="{{ 'LOGIN_COMMON.ACTION_SIGN_IN' | translate }}"
            translate="LOGIN_COMMON.ACTION_SIGN_IN"
        )
        a.register(
            href="#"
            ng-if="vm.publicRegisterEnabled"
            tg-nav="register"
            title="{{ 'REGISTER_FORM.ACTION_SIGN_UP' | translate }}"
            translate="REGISTER_FORM.ACTION_SIGN_UP"
        )

    div.nav-right(ng-if="vm.isAuthenticated")
        a(
            tg-nav="home"
            ng-class="{active: vm.active}"
            title="{{'PROJECT.NAVIGATION.DASHBOARD_TITLE' | translate}}"
        )
            tg-svg(svg-icon="icon-dashboard")

        a(
            href="#",
            tg-nav="discover",
            title="{{'PROJECT.NAVIGATION.DISCOVER_TITLE' | translate}}",
        )
            tg-svg(svg-icon="icon-discover")

        div.topnav-dropdown-wrapper(ng-show="vm.projects.size", tg-dropdown-project-list)
        div.topnav-dropdown-wrapper(tg-dropdown-user)
