doctype html

div.wrapper(tg-kanban, ng-controller="KanbanController as ctrl"
            ng-init="section='kanban'")
    tg-project-menu            
            
    sidebar.menu-secondary.extrabar.filters-bar(tg-kanban-filters)
        include ../includes/modules/kanban-filters
        
    section.main.kanban
        include ../includes/components/mainTitle
        
        div.backlog-menu
            div.backlog-table-options
                a.trans-button(
                    ng-if="userstories.length"
                    href=""
                    title="{{'KANBAN.FILTERS.TOGGLE' | translate}}"
                    id="show-filters-button"
                    translate="KANBAN.FILTERS.SHOW"
                )
            include ../includes/components/addnewus
        
        include ../includes/modules/kanban-table

    div.lightbox.lightbox-generic-form.lb-create-edit-userstory(tg-lb-create-edit-userstory)
        include ../includes/modules/lightbox-us-create-edit

    div.lightbox.lightbox-generic-bulk(tg-lb-create-bulk-userstories)
        include ../includes/modules/lightbox-us-bulk

    div.lightbox.lightbox-select-user(tg-lb-assignedto)
