doctype html

div.wrapper(
    tg-kanban,
    ng-controller="KanbanController as ctrl"
    ng-init="section='kanban'"
)
    tg-project-menu

    section.main.kanban
        tg-filter(
          open="{{ctrl.openFilter}}"
          q="ctrl.filterQ"
          filters="ctrl.filters"
          custom-filters="ctrl.customFilters"
          selected-filters="ctrl.selectedFilters"
          customFilters="ctl.customFilters"
          on-save-custom-filter="ctrl.saveCustomFilter(name)"
          on-add-filter="ctrl.addFilter(filter)"
          on-select-custom-filter="ctrl.selectCustomFilter(filter)"
          on-remove-custom-filter="ctrl.removeCustomFilter(filter)"
          on-remove-filter="ctrl.removeFilter(filter)"
          on-change-q="ctrl.changeQ(q)"
        )

        .kanban-header
            include ../includes/components/mainTitle
            .taskboard-actions
                .zoom-loading(tg-loading="ctrl.zoomLoading")
                tg-kanban-board-zoom(
                    on-zoom-change="ctrl.setZoom(zoomLevel, zoom)"
                )

                button.button-filter.e2e-open-filter(
                    ng-click="ctrl.openFilter = !ctrl.openFilter"
                    title="{{ctrl.selectedFilters.length}} {{'COMMON.FILTERS.APPLIED_FILTERS_NUM' | translate}}"
                )
                    span.filter-num(ng-if="ctrl.selectedFilters.length") {{ctrl.selectedFilters.length}}
                    tg-svg(svg-icon="icon-filters")

        include ../includes/modules/kanban-table

    div.lightbox.lightbox-generic-form.lightbox-create-edit(tg-lb-create-edit)
        include ../includes/modules/lightbox-create-edit/lb-create-edit-us

    div.lightbox.lightbox-generic-bulk(tg-lb-create-bulk-userstories)
        include ../includes/modules/lightbox-us-bulk

    div.lightbox.lightbox-select-user(tg-lb-assigned-users)
