div.kanban-tagline(
    tg-colorize-tags="us.tags"
    tg-colorize-tags-type="kanban"
    ng-hide="us.isArchived"
)
div.kanban-task-inner(ng-class="{'task-archived': us.isArchived}")
    div.avatar-wrapper(tg-kanban-user-avatar="us.assigned_to", ng-model="us", ng-hide="us.isArchived")
    div.task-text(ng-hide="us.isArchived")
        a.task-assigned(href="", title="{{'US.ASSIGN' | translate}}")
        span.task-num(tg-bo-ref="us.ref")
        a.task-name(href="", title="#{{ ::us.ref }} {{ us.subject }}", ng-bind="us.subject",
                    tg-nav="project-userstories-detail:project=project.slug,ref=us.ref",
                    tg-nav-get-params="{\"kanban-status\": {{us.status}}}")

        p.task-points(href="", title="{{'US.TOTAL_US_POINTS' | translate}}")
            span(ng-if="us.total_points !== null", ng-bind="us.total_points")
            span.points-text(ng-if="us.total_points !== null", translate="COMMON.FIELDS.POINTS")
            span(ng-if="us.total_points === null", translate="US.NOT_ESTIMATED")

    div.task-archived-text(ng-show="us.isArchived")
        p(translate="KANBAN.ARCHIVED")
        p
            span.task-num(tg-bo-ref="us.ref")
            span.task-name(ng-bind="us.subject")
        p(translate="KANBAN.UNDO_ARCHIVED")

    a.edit-us(
        href="",
        title="{{'COMMON.EDIT' | translate}}",
        tg-check-permission="modify_us",
        ng-hide="us.isArchived"
    )
        tg-svg(svg-icon="icon-edit")
