include ../common/components/wysiwyg.jade

.view-wiki-content
    section.wysiwyg(tg-bind-html='wiki.html')
    a.edit(
        href=""
        title="{{'COMMON.EDIT' | translate}}"
    )
        tg-svg(svg-icon="icon-edit")

.edit-wiki-content(style='display: none;')
    textarea(
        ng-attr-placeholder="{{'WIKI.PLACEHOLDER_PAGE' | translate}}",
        ng-model='wiki.content'
        tg-markitup='tg-markitup'
    )
    +wysihelp

    span.action-container
        a.save(
            title="{{'COMMON.SAVE' | translate}}"
            href=""
        )
            tg-svg(svg-icon="icon-save")
        a.cancel(
            title="{{'COMMON.CANCEL' | translate}}"
            href=""
        )
            tg-svg(svg-icon="icon-close")
