
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

doctype html

div.wrapper(
    ng-controller="WikiPagesListController as ctrl"
    ng-init="section='wiki'"
)
    tg-project-menu
    sidebar.menu-secondary.wiki-nav(
        ng-if="linksVisible"
        tg-wiki-nav
        ng-model="wikiLinks"
    )
    section.main.wiki-main
        header.wiki-list-header
            h1
                span(translate="PROJECT.SECTION.WIKI")
                span.date(translate="WIKI.SECTION_PAGES_LIST")

        section.wiki-pages-table.basic-table
            .row.title
                .title-field(
                    translate="WIKI.PAGES_LIST_COLUMNS.TITLE"
                )
                .editions-field(
                    translate="WIKI.PAGES_LIST_COLUMNS.EDITIONS"
                )
                .creator-field(
                    translate="WIKI.PAGES_LIST_COLUMNS.CREATOR"
                )
                .created-field(
                    translate="WIKI.PAGES_LIST_COLUMNS.CREATED"
                )
                .last-modifier-field(
                    translate="WIKI.PAGES_LIST_COLUMNS.LAST_MODIFIER"
                )
                .modified-field(
                    translate="WIKI.PAGES_LIST_COLUMNS.MODIFIED"
                )

            .row.table-main(ng-repeat="wikipage in wikipages track by wikipage.slug")
                .title-field
                    a(
                        href=""
                        tg-nav="project-wiki-page:project=project.slug,slug=wikipage.slug"
                    ) {{wikipage.slug}}
                .editions-field {{wikipage.editions}}
                .creator-field(
                    tg-user-display
                    tg-user-id="{{wikipage.owner}}"
                )
                .created-field(tg-bo-bind="wikipage.created_date|momentFormat:'DD MMM YYYY HH:mm'")
                .last-modifier-field(
                    tg-user-display
                    tg-user-id="{{wikipage.last_modifier}}"
                )
                .modified-field(tg-bo-bind="wikipage.modified_date|momentFormat:'DD MMM YYYY HH:mm'")
