header
  h1(translate="WIKI.NAVIGATION.SECTION_NAME")
  a(href="", tg-nav="project-wiki-list:project=project.slug", translate="WIKI.NAVIGATION.ALL_PAGES")

nav
  ul.sortable
    li.wiki-link(ng-repeat="link in wikiLinks", data-id!="{{ $index }}", tg-bind-scope)
        tg-svg.dragger(svg-icon="icon-drag")
        a.link-title(title!="{{ link.title }}", href!="{{ link.url }}") {{ link.title }}

        <% if (deleteWikiLinkPermission) { %>
        a.js-delete-link.remove-wiki-page(title!="{{'WIKI.DELETE_LINK_TITLE' | translate}}")
            tg-svg(svg-icon="icon-trash")
        <% } %>

        input.hidden(
            type="text"
            placeholder="{{'COMMON.FIELDS.NAME' | translate}}"
            value!="{{ link.title }}"
        )

    li.new.hidden
        input(
            type="text"
            placeholder="{{'COMMON.FIELDS.NAME' | translate}}"
        )

<% if (addWikiLinkPermission) { %>
a(
    href=""
    title="{{'WIKI.NAVIGATION.ACTION_ADD_LINK' | translate}}"
    class="add-button button-gray"
)
    span(translate="WIKI.NAVIGATION.ACTION_ADD_LINK")
<% } %>
