
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

section.admin-submenu.admin-submenu-roles(ng-if="roles")
    nav
        ul
            li(
                ng-repeat="item in roles",
                ng-class="{active: role.id == item.id}"
            )
                a(
                    href=""
                    ng-click="ctrl.setRole(item)"
                )
                  span.single-role {{ item.name }}

        div(tg-new-role)
            button.btn-small.btn-menu-full.add-button(
                variant="primary"
                title="{{'ADMIN.SUBMENU_ROLES.TITLE_ACTION_NEW_ROLE' | translate}}",
                translate="ADMIN.SUBMENU_ROLES.ACTION_NEW_ROLE"
            )
            input(type="text", class="hidden new")
