
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

div.change-email-form(tg-change-email)
    p
        strong(translate="CHANGE_EMAIL_FORM.TITLE")
    p
        span(translate="CHANGE_EMAIL_FORM.SUBTITLE")

    form
        fieldset
            input(
                type="hidden"
                name="email_token"
                ng-model="data.email_token"
                data-required="true"
                placeholder="{{'CHANGE_EMAIL_FORM.PLACEHOLDER_INPUT_TOKEN' | translate}}"
            )

            a.btn-small.ng-submit-form(
                variant="primary"
                href=""
                title="{{'CHANGE_EMAIL_FORM.ACTION_CHANGE_EMAIL' | translate}}"
                translate="CHANGE_EMAIL_FORM.ACTION_CHANGE_EMAIL"
            )
            button(type="submit", class="hidden")
