
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

div.change-password-form-container(tg-change-password-from-recovery)
    p.change-password-text
        strong(translate="CHANGE_PASSWORD_RECOVERY_FORM.TITLE")
        br
        span(translate="CHANGE_PASSWORD_RECOVERY_FORM.SUBTITLE")

    form
        fieldset
            input(
                type="password"
                name="password"
                id="password"
                tg-capslock
                ng-model="data.password"
                data-required="true"
                placeholder="{{'CHANGE_PASSWORD_RECOVERY_FORM.PLACEHOLDER_NEW_PASSWORD' | translate}}"
            )
        fieldset
            input(
                type="password"
                name="password2"
                id="password2"
                tg-capslock
                ng-model="data.password2"
                data-required="true"
                data-equalto="#password"
                placeholder="{{'CHANGE_PASSWORD_RECOVERY_FORM.PLACEHOLDER_RE_TYPE_NEW_PASSWORD' | translate}}"
            )
        fieldset
            button.button-change-password.btn-small.full(
                variant="primary"
                type="submit"
                title="{{'CHANGE_PASSWORD_RECOVERY_FORM.ACTION_RESET_PASSWORD' | translate}}"
                translate="CHANGE_PASSWORD_RECOVERY_FORM.ACTION_RESET_PASSWORD"
            )
