div.forgot-form-container(tg-forgot-password)
    p.forgot-text
        strong(translate="FORGOT_PASSWORD_FORM.TITLE")
        br
        strong(translate="FORGOT_PASSWORD_FORM.SUBTITLE")

    form(ng-submit="ctrl.submit()")
        fieldset
            input(
                type="text"
                autocorrect="off" 
                autocapitalize="none"
                name="username"
                ng-model="data.username"
                data-required="true"
                placeholder="{{'FORGOT_PASSWORD_FORM.PLACEHOLDER_FIELD' | translate}}"
            )
        fieldset
            button.button-gray.button-large.button-block.button-forgot(
                type="submit"
                title="{{'FORGOT_PASSWORD_FORM.ACTION_RESET_PASSWORD' | translate}}"
                translate="FORGOT_PASSWORD_FORM.ACTION_RESET_PASSWORD"
            )

        a(href="", tg-nav="login", translate="FORGOT_PASSWORD_FORM.LINK_CANCEL")
