
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

div.forgot-form-container(tg-forgot-password)
    p.forgot-text
        span(translate="FORGOT_PASSWORD_FORM.TITLE")
        br
        span(translate="FORGOT_PASSWORD_FORM.SUBTITLE")

    form(ng-submit="ctrl.submit()")
        fieldset
            input(
                type="text"
                autocorrect="off"
                autocapitalize="none"
                name="username"
                ng-model="data.username"
                data-required="true"
                placeholder="{{'FORGOT_PASSWORD_FORM.PLACEHOLDER_FIELD' | translate}}"
            )
        fieldset
            button.btn-small.full(
                variant="primary"
                title="{{'FORGOT_PASSWORD_FORM.ACTION_RESET_PASSWORD' | translate}}"
                translate="FORGOT_PASSWORD_FORM.ACTION_RESET_PASSWORD"
            )

        .register-text
            a(href="", tg-nav="login", translate="FORGOT_PASSWORD_FORM.LINK_CANCEL")
