form.register-form
    p.form-header(translate="REGISTER_FORM.TITLE")
    fieldset
        input(
            type="text"
            autocorrect="off"
            autocapitalize="none"
            name="username"
            ng-model="dataRegister.username"
            data-required="true"
            data-maxlength="255"
            data-regexp="^[\\w.-]+$"
            placeholder="{{'REGISTER_FORM.PLACEHOLDER_NAME' | translate}}"
        )

    fieldset
        input(
            type="text"
            name="full_name"
            ng-model="dataRegister.full_name"
            data-required="true"
            data-maxlength="256"
            placeholder="{{'REGISTER_FORM.PLACEHOLDER_FULL_NAME' | translate}}"
        )

    fieldset
        input(
            type="email"
            name="email"
            ng-model="dataRegister.email"
            data-required="true"
            data-maxlength="255"
            placeholder="{{'REGISTER_FORM.PLACEHOLDER_EMAIL' | translate}}"
        )

    fieldset
        input(
            type="password"
            name="password"
            tg-capslock
            ng-model="dataRegister.password"
            data-required="true"
            placeholder="{{'REGISTER_FORM.PLACEHOLDER_PASSWORD' | translate}}"
        )

    //- Only displays terms notice when terms plugin is loaded.
    tg-terms-of-service-and-privacy-policy-notice(target="dataRegister.accepted_terms")

    fieldset
        button.button-register.button-green.submit-button(
            type="submit"
            ng-disabled="dataRegister.accepted_terms == false"
            title="{{'REGISTER_FORM.ACTION_SIGN_UP' | translate}}"
            translate="REGISTER_FORM.ACTION_SIGN_UP"
        )
