form.login-form
    p.form-header(translate="LOGIN_COMMON.HEADER")

    fieldset
        input(type="text", name="username", ng-model="dataLogin.username", data-required="true",
            placeholder="{{'LOGIN_COMMON.PLACEHOLDER_AUTH_NAME' | translate}}")

    fieldset.login-password
        input(type="password", name="password", ng-model="dataLogin.password", data-required="true",
              placeholder="{{'LOGIN_COMMON.PLACEHOLDER_AUTH_PASSWORD' | translate}}")
        a.forgot-pass(href="", tg-nav="forgot-password",
                      title="{{'LOGIN_COMMON.TITLE_LINK_FORGOT_PASSWORD' | translate}}",
                      translate="LOGIN_COMMON.LINK_FORGOT_PASSWORD")

    fieldset
        a.button-login.button-blackish.submit-button(type="submit",
                                                      title="{{'LOGIN_COMMON.ACTION_ENTER' | translate}}",
                                                      translate="LOGIN_COMMON.ACTION_ENTER")

    fieldset(ng-repeat="plugin in contribPlugins|filter:{type: 'auth'}", ng-include="plugin.template")
