section.issues-table.basic-table(ng-class="{empty: !issues.length}")
    div.row.title
        div.level-field(data-fieldname="type", translate="ISSUES.TABLE.COLUMNS.TYPE")
        div.level-field(data-fieldname="severity", translate="ISSUES.TABLE.COLUMNS.SEVERITY")
        div.level-field(data-fieldname="priority", translate="ISSUES.TABLE.COLUMNS.PRIORITY")
        div.votes(data-fieldname="total_voters", translate="ISSUES.TABLE.COLUMNS.VOTES")
        div.subject(data-fieldname="subject", translate="ISSUES.TABLE.COLUMNS.SUBJECT")
        div.issue-field(data-fieldname="status", translate="ISSUES.TABLE.COLUMNS.STATUS")
        div.created-field(data-fieldname="created_date", translate="ISSUES.TABLE.COLUMNS.CREATED")
        div.assigned-field(data-fieldname="assigned_to", translate="ISSUES.TABLE.COLUMNS.ASSIGNED_TO")

    div.row.table-main(
        ng-repeat="issue in issues track by issue.id"
        ng-class="{'is-blocked': issue.is_blocked}"
    )
        div.level-field(tg-listitem-type="issue")
        div.level-field(tg-listitem-severity="issue")
        div.level-field(tg-listitem-priority="issue")
        div.votes(
            ng-class="{'inactive': !issue.total_voters, 'is-voted': issue.is_voter}"
            title="{{ 'COMMON.VOTE_BUTTON.COUNTER_TITLE'|translate:{total:issue.total_voters||0}:'messageformat' }}"
        )
            svg.icon.icon-upvote
                use(xlink:href="#icon-upvote")
            span {{ ::issue.total_voters }}
        div.subject
            a(
                href=""
                tg-nav="project-issues-detail:project=project.slug,ref=issue.ref"
                title="#{{ ::issue.ref }} {{ ::issue.subject }}"
            )
                span(tg-bo-ref="issue.ref")
                span.blocked-text(
                    ng-if="issue.is_blocked"
                    title="{{issue.blocked_note}}"
                ) {{'ISSUES.TABLE.BLOCKED' | translate}}
                span(ng-bind="issue.subject")


        div.issue-field(tg-issue-status-inline-edition="issue")
            a.issue-status(
                href=""
                title="{{'ISSUES.TABLE.TITLE_ACTION_CHANGE_STATUS' | translate}}"
            )
                span.issue-status-bind
                svg.icon.icon-arrow-down(tg-check-permission="modify_issue")
                    use(xlink:href="#icon-arrow-down")

        div.created-field(tg-bo-bind="issue.created_date|momentFormat:'DD MMM YYYY HH:mm'")

        div.assigned-field(tg-issue-assigned-to-inline-edition="issue")
            div.issue-assignedto(title="{{'ISSUES.TABLE.TITLE_ACTION_ASSIGNED_TO' | translate}}")
                figure.avatar
                svg.icon.icon-arrow-down(tg-check-permission="modify_issue")
                    use(xlink:href="#icon-arrow-down")

section.empty-issues(ng-if="issues != undefined && issues.length == 0")
    img(
        src="/#{v}/images/issues-empty.png",
        alt="{{ISSUES.TABLE.EMPTY.TITLE | translate }}"
    )
    p.title(translate="ISSUES.TABLE.EMPTY.TITLE")
    a(
        href=""
        ng-click="ctrl.addNewIssue()"
        tg-check-permission="add_issue"
        title="{{ ISSUES.ACTION_NEW_ISSUE | translate }}"
        translate="ISSUES.TABLE.EMPTY.SUBTITLE"
    )
