div.kanban-table(tg-kanban-squish-column)
    div.kanban-table-header
        div.kanban-table-inner
            h2.task-colum-name(ng-repeat="s in usStatusList track by s.id",
                               ng-style="{'border-top-color':s.color}", tg-bo-title="s.name",
                               ng-class='{vfold:folds[s.id]}',
                               tg-class-permission="{'readonly': '!modify_task'}")
                span(tg-bo-bind="s.name")
                div.options
                    a.option(
                        href=""
                        ng-click='foldStatus(s)'
                        title="{{'KANBAN.TITLE_ACTION_FOLD' | translate}}"
                        ng-class='{hidden:folds[s.id]}'
                    )
                        svg.icon.icon-fold-column
                            use(xlink:href="#icon-fold-column")
                    a.option.hunfold(
                        href=""
                        ng-click='foldStatus(s)'
                        title="{{'KANBAN.TITLE_ACTION_UNFOLD' | translate}}"
                        ng-class='{hidden:!folds[s.id]}'
                    )
                        svg.icon.icon-unfold-column
                            use(xlink:href="#icon-unfold-column")
                    a.option(
                        href=""
                        title="{{'KANBAN.TITLE_ACTION_FOLD_CARDS' | translate}}"
                        ng-class="{hidden:statusViewModes[s.id] == 'minimized'}"
                        ng-click="ctrl.updateStatusViewMode(s.id, 'minimized')"
                    )
                        svg.icon.icon-fold-row
                            use(xlink:href="#icon-fold-row")
                    a.option(
                        href=""
                        title="{{'KANBAN.TITLE_ACTION_UNFOLD_CARDS' | translate}}"
                        ng-class="{hidden:statusViewModes[s.id] == 'maximized'}"
                        ng-click="ctrl.updateStatusViewMode(s.id, 'maximized')"
                    )
                        svg.icon.icon-unfold-row
                            use(xlink:href="#icon-unfold-row")

                    a.option(
                        href=""
                        title="{{'KANBAN.TITLE_ACTION_ADD_US' | translate}}"
                         ng-click="ctrl.addNewUs('standard', s.id)"
                         tg-check-permission="add_us"
                         ng-hide="s.is_archived"
                    )
                        svg.icon.icon-add
                            use(xlink:href="#icon-add")

                    a.option(
                        href=""
                        title="{{'KANBAN.TITLE_ACTION_ADD_BULK' | translate}}"
                        ng-click="ctrl.addNewUs('bulk', s.id)"
                        tg-check-permission="add_us"
                        ng-hide="s.is_archived"
                    )
                        svg.icon.icon-bulk
                            use(xlink:href="#icon-bulk")

                    a.option(
                        href=""
                        ng-attr-title="{{title}}"
                        ng-class="class"
                        ng-if="s.is_archived"
                        tg-kanban-archived-status-header="s")
                        svg.icon.icon-watch
                            use(xlink:href="#icon-watch")

    div.kanban-table-body
        div.kanban-table-inner
            div.kanban-uses-box.task-column(ng-class='{vfold:folds[s.id]}',
                ng-repeat="s in usStatusList track by s.id",
                tg-kanban-sortable,
                tg-kanban-wip-limit="s",
                tg-kanban-column-height-fixer,
                tg-bind-scope
            )
                div.kanban-task(
                    ng-repeat="us in usByStatus[s.id] track by us.id",
                    tg-kanban-userstory,
                    ng-model="us",
                    tg-bind-scope,
                    tg-class-permission="{'readonly': '!modify_task'}"
                    ng-class="{'kanban-task-maximized': ctrl.isMaximized(s.id), 'kanban-task-minimized': ctrl.isMinimized(s.id), 'card-placeholder': us.isPlaceholder}"
                    placeholder="{{us.isPlaceholder}}"
                )
                div.kanban-column-intro(ng-if="s.is_archived", tg-kanban-archived-status-intro="s")
