tg-lightbox-close

form
    h2.title(translate="LIGHTBOX.ADD_EDIT_SPRINT.TITLE")
    fieldset
        input.sprint-name.e2e-sprint-name(
            type="text"
            name="name"
            ng-model="newSprint.name"
            ng-model-options="{ debounce: 200 }"
            data-required="true"
            data-maxlength="500"
            placeholder="{{'LIGHTBOX.ADD_EDIT_SPRINT.PLACEHOLDER_SPRINT_NAME' | translate}}"
        )
        label.last-sprint-name

    fieldset.dates
        div
            input.date-start(
                type="text"
                name="estimated_start"
                picker-value="{{newSprint.estimated_start}}"
                data-required="true"
                tg-date-selector                
                placeholder="{{'LIGHTBOX.ADD_EDIT_SPRINT.PLACEHOLDER_SPRINT_START' | translate}}"
            )
        div
            input.date-end(
                type="text"
                name="estimated_finish"
                picker-value="{{newSprint.estimated_finish}}"
                data-required="true"
                tg-date-selector
                placeholder="{{'LIGHTBOX.ADD_EDIT_SPRINT.PLACEHOLDER_SPRINT_END' | translate}}"
            )

    button.button-green.button-large.button-large.button-block(
        type="submit"
        title="{{'COMMON.CREATE' | translate}}"
        translate="COMMON.CREATE"
    )

    a.delete-sprint(
        tg-check-permission="delete_milestone"
        href=""
        title="{{'LIGHTBOX.ADD_EDIT_SPRINT.TITLE_ACTION_DELETE_SPRINT' | translate}}"
    )
        span {{'LIGHTBOX.ADD_EDIT_SPRINT.ACTION_DELETE_SPRINT' | translate }}
        tg-svg(svg-icon="icon-trash")
