
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

tg-lightbox-close

form
    h2.title(translate="COMMON.NEW_BULK")
    fieldset
        textarea(
            cols="200"
            wrap="off"
            ng-model="new.bulk"
            data-required="true"
            data-linewidth="200"
            ng-attr-placeholder="{{'COMMON.ONE_ITEM_LINE' | translate}}"

        )
    .lb-action-wrapper
        button.btn-big(
            variant="primary"
            type="submit"
            title="{{'COMMON.SAVE' | translate}}"
            translate="COMMON.SAVE"
        )
