tg-lightbox-close
form
    h2.title(translate="LIGHTBOX.CREATE_EDIT_TASK.TITLE")
    fieldset
        input(
            type="text"
            ng-model="task.subject"
            ng-attr-placeholder="{{'LIGHTBOX.CREATE_EDIT_TASK.PLACEHOLDER_SUBJECT' | translate}}"
            ng-model-options="{ debounce: 200 }"
            data-required="true"
            data-maxlength="500"
        )

    fieldset
        select(
            ng-model="task.status"
            ng-options="s.id as s.name for s in taskStatusList"
            placeholder="{{'LIGHTBOX.CREATE_EDIT_TASK.PLACEHOLDER_STATUS' | translate}}"
        )

    fieldset
        select(
            ng-model="task.assigned_to"
            ng-options="s.id as s.full_name_display for s in users"
            placeholder="{{'Assigned to'}}"
        )
            option(
                value=""
                translate="LIGHTBOX.CREATE_EDIT_TASK.OPTION_UNASSIGNED"
            )

    fieldset
        tg-tag-line-common.tags-block(
            ng-if="project && createEditTaskOpen"
            project="project"
            tags="task.tags"
            permissions="add_task"
            on-add-tag="addTag(name, color)"
            on-delete-tag="deleteTag(tag)"
        )

    fieldset
        section
             tg-attachments-simple(
                 attachments="attachments",
                 on-add="addAttachment(attachment)"
                 on-delete="deleteAttachment(attachment)"
              )

    fieldset
        textarea.description(
            ng-attr-placeholder="{{'LIGHTBOX.CREATE_EDIT_TASK.PLACEHOLDER_SHORT_DESCRIPTION' | translate}}"
            ng-model="task.description"
            ng-model-options="{ debounce: 200 }"
        )

    div.settings
        fieldset.iocaine-flag(title="{{'COMMON.IOCAINE_TEXT' | translate}}")
            input(
                type="checkbox"
                ng-model="task.is_iocaine"
                name="iocaine-task"
                id="iocaine-task"
                ng-value="true"
            )
            label.iocaine.trans-button(for="iocaine-task")
                tg-svg(svg-icon="icon-iocaine")
                span Iocaine

        fieldset.blocking-flag
            input(
                type="checkbox"
                ng-model="task.is_blocked"
                name="blocked-task"
                id="blocked-task"
                ng-value="true"
            )
            label.blocked.trans-button(
                for="blocked-task"
                translate="COMMON.BLOCKED"
            )

    tg-blocking-message-input(
        watch="task.is_blocked"
        ng-model="task.blocked_note"
    )

    button.button-green.submit-button(
        type="submit"
        title="{{'COMMON.CREATE' | translate}}"
        translate="COMMON.CREATE"
    )
