tg-lightbox-close

form
    h2.title(translate="LIGHTBOX.CREATE_ISSUE.TITLE")
    fieldset
        input(
            type="text"
            ng-model="issue.subject"
            ng-attr-placeholder="{{'COMMON.FIELDS.SUBJECT' | translate}}"
            ng-model-options="{ debounce: 200 }"
            data-required="true"
            data-maxlength="500"
        )
    .fieldset-row
        fieldset
            select.type(
                ng-model="issue.type"
                ng-options="t.id as t.name for t in issueTypes"
            )
        fieldset
            select.priority(
                ng-model="issue.priority"
                ng-options="p.id as p.name for p in priorityList"
            )
        fieldset
            select.severity(
                ng-model="issue.severity"
                ng-options="s.id as s.name for s in severityList"
            )

    fieldset
        tg-tag-line-common.tags-block(
            ng-if="project && createIssueOpen"
            project="project"
            tags="issue.tags"
            permissions="add_issue"
            on-add-tag="addTag(name, color)"
            on-delete-tag="deleteTag(tag)"
        )

    fieldset
        section
            tg-attachments-simple(
                attachments="attachments",
                on-add="addAttachment(attachment)"
            )

    fieldset
        textarea.description(
            ng-attr-placeholder="{{'COMMON.FIELDS.DESCRIPTION' | translate}}"
            ng-model="issue.description"
        )

    // include lightbox-attachments
    button.button-green.submit-button(
        type="submit"
        title="{{'COMMON.CREATE' | translate}}"
        translate="COMMON.CREATE"
    )
