tg-lightbox-close
form
    h2.title(translate="COMMON.NEW_BULK")
    fieldset.swimlane-select(ng-if="project.is_kanban_activated && swimlanesList.size")
        .label {{ 'LIGHTBOX.CREATE_EDIT.SELECT_SWIMLANE' | translate }}
        tg-swimlane-selector(
            ng-model="new.swimlaneId"
            swimlanes="swimlanesList"
            current-swimlane-id="new.swimlaneId"
        )
    fieldset
        textarea(
            cols="200"
            wrap="off"
            ng-model="new.bulk"
            data-required="true"
            data-linewidth="200"
            ng-attr-placeholder="{{'COMMON.ONE_ITEM_LINE' | translate}}"
        )

    button.btn-small(
        variant="primary"
        type="submit",
        title="{{'COMMON.SAVE' | translate}}",
        translate="COMMON.SAVE"
    )
