
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

ul.search-filter
    li.epics(data-name="epics")
        a(
            href="#"
            title="{{ 'SEARCH.FILTER_EPICS' | translate }}"
        )
            tg-svg(svg-icon="icon-epics")
            span.num
            span.name(translate="SEARCH.FILTER_EPICS")

    li.userstories(data-name="userstories")
        a.active(
            href="#"
            title="{{ 'SEARCH.FILTER_USER_STORIES' | translate }}"
        )
            tg-svg(svg-icon="icon-bulk")
            span.num
            span.name(translate="SEARCH.FILTER_USER_STORIES")

    li.issues(data-name="issues")
        a(
            href="#"
            title="{{ 'SEARCH.FILTER_ISSUES' | translate }}"
        )
            tg-svg(svg-icon="icon-issues")
            span.num
            span.name(translate="SEARCH.FILTER_ISSUES")

    li.tasks(data-name="tasks")
        a(
            href="#"
            title="{{ 'SEARCH.FILTER_TASKS' | translate }}"
        )
            tg-svg(svg-icon="icon-bulk")
            span.num
            span.name(translate="SEARCH.FILTER_TASKS")

    li.wikipages(data-name="wikipages")
        a(
            href="#"
            title="{{ 'SEARCH.FILTER_WIKI' | translate }}"
        )
            tg-svg(svg-icon="icon-wiki")
            span.num
            span.name(translate="SEARCH.FILTER_WIKI")
