section.sprints
    header.sprint-header
        h1
            span.number(
                ng-bind="totalMilestones"
                ng-if="totalMilestones"
            )
            span(translate="BACKLOG.SPRINTS.TITLE")
        a.add-button.button-primary.button-small(
            href=""
            title="{{ 'BACKLOG.SPRINTS.TITLE_ACTION_NEW_SPRINT' | translate}}"
            ng-click="ctrl.addNewSprint()"
            ng-if="totalMilestones"
            tg-check-permission="add_milestone"
        )
            tg-svg(svg-icon="icon-add")

    div.empty-small(ng-if="totalMilestones === 0")
        img(
            src="/#{v}/images/empty/empty_sprint.png"
            alt="{{'BACKLOG.SPRINTS.EMPTY' | translate}}"
        )
        p.title(translate="BACKLOG.SPRINTS.EMPTY")
        a(
            href=""
            ng-click="ctrl.addNewSprint()"
            title="{{'BACKLOG.SPRINTS.TITLE_ACTION_NEW_SPRINT' | translate}}"
            translate="BACKLOG.SPRINTS.TEXT_ACTION_NEW_SPRINT"
            tg-check-permission="add_milestone"
        )

    div.sprint.sprint-open(ng-repeat="sprint in ctrl.openSprints() track by sprint.id",
                           tg-backlog-sprint="sprint",
                           tg-sprint-sortable)
        include sprint

    a.filter-closed-sprints(href="", tg-backlog-toggle-closed-sprints-visualization,
                            ng-if="totalClosedMilestones")
        tg-svg(svg-icon="icon-archive")
        span.text(translate="BACKLOG.SPRINTS.ACTION_SHOW_CLOSED_SPRINTS")

    div.sprint.sprint-closed(ng-repeat="sprint in closedSprints track by sprint.id",
                             tg-backlog-sprint="sprint",
                             tg-sprint-sortable)
        include sprint
