doctype html
html(lang="en", ng-app="taiga")
    head
        meta(charset="utf-8")
        title= Taiga
        meta(http-equiv="content-type", content="text/html; charset=utf-8")
        meta(name="description", content="Taiga Landing page")
        meta(name="keywords", content="Agile, Taiga, Management, Github")
        meta(name="viewport", content="width=device-width, user-scalable=no")
        link(rel="stylesheet", href="/styles/main.css")
    body
        include partials/views/modules/nav
        div.wrapper(ng-view="")
        script(src="/js/libs.js?v=#{v}")
        script(src="/js/app.js?v=#{v}")
