a.assign-issue-button.button-gray.is-editable(
    href=""
    tg-check-permission="add_us"
    title="{{ 'ISSUES.ACTION_ASSIGN_SPRINT' | translate }}"
    ng-class="{'button-set': issue.milestone}"
)
    tg-svg(svg-icon="icon-promote")


.lightbox.lightbox-assign-sprint-to-issue
    tg-lightbox-close

    div.lightbox-assign-related-sprint
        h2.title {{ 'ISSUES.ACTION_ASSIGN_SPRINT' | translate }}
        tg-search-list(
            label="{{ 'ISSUES.CHOOSE_SPRINT' | translate }}"
            placeholder="{{ 'ISSUES.FILTER_SPRINTS' | translate }}"
            items="milestones"
            ng-model="selectedSprint"
            filter-by="['name', 'estimated_start', 'estimated_finish']"
            project="project"
            item-type="sprint"
        )
        button.button-green.select-option(
            href=""
            ng-click="saveIssueToSprint(selectedSprint, $event)"
            tg-loading="vm.loading"
            translate="COMMON.SAVE"
        )
