a.assign-issue-button.button-gray.is-editable.button-unset(
    href=""
    ng-show="!issue.milestone"
    tg-check-permission="modify_issue"
    title="{{ 'ISSUES.ACTION_ATTACH_SPRINT' | translate }}"
)
    tg-svg(svg-icon="icon-attach")

a.assign-issue-button.button-gray.is-editable.button-set(
    href=""
    ng-show="issue && issue.milestone"
    tg-check-permission="modify_issue"
    title="{{ 'ISSUES.ACTION_DETACH_SPRINT' | translate }}"
)
    tg-svg(svg-icon="icon-detach")

.lightbox.lightbox-assign-sprint-to-issue
    tg-lightbox-close

    div.lightbox-assign-related-sprint
        h2.title {{ 'ISSUES.ACTION_ATTACH_SPRINT' | translate }}
        tg-search-list(
            label="{{ 'ISSUES.CHOOSE_SPRINT' | translate }}"
            placeholder="{{ 'ISSUES.FILTER_SPRINTS' | translate }}"
            items="milestones"
            ng-model="selectedSprint"
            filter-by="['name', 'estimated_start', 'estimated_finish']"
            project="project"
            item-type="sprint"
            filter-closed="true"
        )
        button.button-green.select-option(
            href=""
            ng-click="saveIssueToSprint(selectedSprint, $event)"
            tg-loading="vm.loading"
            translate="COMMON.SAVE"
            ng-disabled="!selectedSprint"
        )
