
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

button.btn-icon.assign-issue-button.is-editable.button-unset(
    ng-show="!issue.milestone"
    tg-check-permission="modify_issue"
    title="{{ 'ISSUES.ACTION_ATTACH_SPRINT' | translate }}"
)
    tg-svg(svg-icon="icon-attach")

button.btn-icon.assign-issue-button.is-editable.button-set(
    ng-show="issue.milestone"
    tg-check-permission="modify_issue"
    title="{{ 'ISSUES.ACTION_DETACH_SPRINT' | translate }}"
    ng-mouseenter="detach=true"
    ng-mouseleave="detach=false"
)
    tg-svg(
        ng-show="detach"
        svg-icon="icon-detach"
    )
    tg-svg(
        ng-show="!detach"
        svg-icon="icon-attach"
    )

.lightbox.lightbox-assign-sprint-to-issue
    tg-lightbox-close

    div.lightbox-assign-related-sprint
        h2.title {{ 'ISSUES.ACTION_ATTACH_SPRINT' | translate }}
        tg-search-list(
            label="{{ 'ISSUES.CHOOSE_SPRINT' | translate }}"
            placeholder="{{ 'ISSUES.FILTER_SPRINTS' | translate }}"
            items="milestones"
            ng-model="selectedSprint"
            filter-by="['name', 'estimated_start', 'estimated_finish']"
            project="project"
            item-type="sprint"
            filter-closed="true"
        )
        button.btn-big.select-option(
            href=""
            ng-click="saveIssueToSprint(selectedSprint, $event)"
            tg-loading="vm.loading"
            translate="COMMON.SAVE"
            ng-disabled="!selectedSprint"
        )
