
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

fieldset(title="{{ 'TASK.TITLE_ACTION_IOCAINE' | translate }}")
    label.btn-icon.is-iocaine(
        for="is-iocaine"
        class!="<% if(isEditable){ %>is-editable<% }; %> <% if(isIocaine){ %>active<% }; %>"
    )
        tg-svg(svg-icon="icon-iocaine")
    input(
        type="checkbox"
        id="is-iocaine"
        name="is-iocaine"
    )
