fieldset(title="{{ 'TASK.TITLE_ACTION_IOCAINE' | translate }}")
    label.button-gray.is-iocaine(
        for="is-iocaine"
        class!="<% if(isEditable){ %>is-editable<% }; %> <% if(isIocaine){ %>active<% }; %>"
    )
        svg.icon.icon-iocaine
            use(xlink:href="#icon-iocaine")
    input(
        type="checkbox"
        id="is-iocaine"
        name="is-iocaine"
    )
