doctype html

div.wrapper.issues.lightbox-generic-form(
    tg-issues
    ng-controller="IssuesController as ctrl"
    ng-init="section='issues'"
)
    tg-project-menu
    sidebar.filters-bar
        tg-filter(
          q="ctrl.filterQ"
          filters="ctrl.filters"
          custom-filters="ctrl.customFilters"
          selected-filters="ctrl.selectedFilters"
          customFilters="ctl.customFilters"
          on-save-custom-filter="ctrl.saveCustomFilter(name)"
          on-add-filter="ctrl.addFilter(filter)"
          on-select-custom-filter="ctrl.selectCustomFilter(filter)"
          on-remove-custom-filter="ctrl.removeCustomFilter(filter)"
          on-remove-filter="ctrl.removeFilter(filter)"
          on-change-q="ctrl.changeQ(q)"
        )

    section.main.issues-page
        header
            include ../includes/components/mainTitle

        include ../includes/modules/issues-options
        include ../includes/modules/issues-table

        // Paginator is rendered using js.
        div.paginator.issues-paginator

    div.lightbox.lightbox-select-user(tg-lb-assignedto)

    div.lightbox.lightbox-generic-form.lightbox-create-edit(tg-lb-create-edit)
        include ../includes/modules/lightbox-create-edit/lb-create-edit-issue

    div.lightbox.lightbox-generic-bulk(tg-lb-create-bulk-issues)
        include ../includes/modules/lightbox-issue-bulk
