span.detail-status-inner.js-edit-status(
    class!="<% if(editable){ %>clickable<% }%>"
    style!="background-color:<%- status.color %>"
    ng-click="editStatus()"
)
    span <%- status.name %>
    <% if(editable){ %>
    span.icon.icon-arrow-bottom
    <% }%>
    
    ul.pop-status
        <% _.each(statuses, function(st) { %>
        li
            a.status(
                href=""
                title!="<%- st.name %>"
                data-status-id!="<%- st.id %>"
            )
                | <%- st.name %>
        <% }); %>
