
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

ul.tags-dropdown(ng-if="(colorArray | filter:tag.name:strict).length > 0")
    li(
        ng-repeat="tag in colorArray | filter:tag.name:strict",
        ng-click="onSelectTag({name: tag[0], color: tag[1]})"
    )
        .tags-dropdown-option
            span.tags-dropdown-name {{tag[0]}}
            span.tags-dropdown-color(
                ng-if="tag[1]"
                ng-style="{'background': tag[1]}"
                ng-title="tag[1]"
            )
