doctype html

div.wrapper(ng-controller="ProjectValuesSectionController",
            ng-init="sectionName='ADMIN.CUSTOM_FIELDS.TITLE'")

    nav.menu.hidden(tg-project-menu)

    sidebar.menu-secondary.sidebar(tg-admin-navigation="project-values")
        include ../includes/modules/admin-menu

    sidebar.menu-tertiary.sidebar(tg-admin-navigation="values-custom-fields")
        include ../includes/modules/admin-submenu-project-values

    section.main.admin-common.admin-attributes
        include ../includes/components/mainTitle
        p.admin-subtitle(translate="ADMIN.CUSTOM_FIELDS.SUBTITLE")

        div.admin-attributes-section(tg-project-custom-attributes,
                                     ng-controller="ProjectCustomAttributesController as ctrl",
                                     ng-init="type='userstory'; customFieldSectionTitle='ADMIN.CUSTOM_FIELDS.US_DESCRIPTION'; customFieldButtonTitle='ADMIN.CUSTOM_FIELDS.US_ADD'")
            include ../includes/modules/admin/admin-custom-attributes

        div.admin-attributes-section(tg-project-custom-attributes,
                                     ng-controller="ProjectCustomAttributesController as ctrl",
                                     ng-init="type='task'; customFieldSectionTitle='ADMIN.CUSTOM_FIELDS.TASK_DESCRIPTION'; customFieldButtonTitle='ADMIN.CUSTOM_FIELDS.TASK_ADD'")
            include ../includes/modules/admin/admin-custom-attributes

        div.admin-attributes-section(tg-project-custom-attributes,
                                     ng-controller="ProjectCustomAttributesController as ctrl",
                                     ng-init="type='issue'; customFieldSectionTitle='ADMIN.CUSTOM_FIELDS.ISSUE_DESCRIPTION'; customFieldButtonTitle='ADMIN.CUSTOM_FIELDS.ISSUE_ADD'")
            include ../includes/modules/admin/admin-custom-attributes
