doctype html

div.wrapper(
    tg-project-profile
    ng-controller="ProjectProfileController as ctrl"
    ng-init="section='admin'; sectionName='ADMIN.PROJECT_PROFILE.PROJECT_DETAILS'"
)
    tg-project-menu

    sidebar.menu-secondary.sidebar.settings-nav(tg-admin-navigation="project-profile")
        include ../includes/modules/admin-menu

    sidebar.menu-tertiary.sidebar(tg-admin-navigation="details")
        include ../includes/modules/admin-submenu-project-profile

    section.main.project-details
        header
            include ../includes/components/mainTitle

        form

            .project-details-image(tg-project-logo)
                fieldset.image-container
                    img.image(
                        tg-project-logo-big-src="project._attrs"
                        alt="logo"
                    )
                    .loading-overlay
                        img.loading-spinner(
                            src="/#{v}/svg/spinner-circle.svg",
                            alt="{{'COMMON.LOADING' | translate}}"
                        )
                    input.hidden(
                        type="file"
                        id="logo-field"
                        tg-project-logo-model="logoAttachment"
                    )

                a.button-green.change-image.js-change-logo(
                    href="#"
                    title="{{'ADMIN.PROJECT_PROFILE.CHANGE_LOGO' | translate}}"
                ) {{'ADMIN.PROJECT_PROFILE.CHANGE_LOGO' | translate}}

                a.use-default-image.js-use-default-logo(
                    href="#"
                    title="{{ 'ADMIN.PROJECT_PROFILE.ACTION_USE_DEFAULT_LOGO' | translate }}"
                ) {{ 'ADMIN.PROJECT_PROFILE.ACTION_USE_DEFAULT_LOGO' | translate }}


            .project-details-form-data

                fieldset
                    label(for="project-name") {{ 'ADMIN.PROJECT_PROFILE.PROJECT_NAME' | translate }}
                    input(
                        type="text"
                        name="name"
                        placeholder="{{'ADMIN.PROJECT_PROFILE.PROJECT_NAME' | translate}}"
                        id="project-name"
                        ng-model="project.name"
                        data-required="true"
                        maxlength="45"
                    )

                fieldset
                    label(for="project-description") {{ 'ADMIN.PROJECT_PROFILE.DESCRIPTION' | translate }}
                    textarea(
                        name="description"
                        ng-attr-placeholder="{{'ADMIN.PROJECT_PROFILE.DESCRIPTION' | translate}}"
                        id="project-description"
                        ng-model="project.description"
                        data-required="true"
                    )
                fieldset
                    label(for="tags") {{ 'ADMIN.PROJECT_PROFILE.TAGS' | translate }}
                    div.tags-block(
                        ng-if="project.id"
                        tg-lb-tag-line
                        ng-model="project.tags"
                    )

                fieldset
                    label(for="project-sprints") {{ 'ADMIN.PROJECT_PROFILE.NUMBER_SPRINTS' | translate }}
                    input(
                        type="number"
                        name="total_milestones"
                        min="0"
                        placeholder="{{'ADMIN.PROJECT_PROFILE.NUMBER_SPRINTS' | translate}}"
                        id="project-sprints"
                        ng-model="project.total_milestones"
                        data-type="digits"
                    )

                fieldset
                    label(for="total-story-points") {{ 'ADMIN.PROJECT_PROFILE.NUMBER_US_POINTS' | translate }}
                    input(
                        type="number"
                        name="total_story_points"
                        min="0"
                        placeholder="{{'ADMIN.PROJECT_PROFILE.NUMBER_US_POINTS' | translate}}"
                        id="total-story-points"
                        ng-model="project.total_story_points"
                        data-type="digits"
                    )

                fieldset.looking-for-people
                    .looking-for-people-selector
                        span {{ 'ADMIN.PROJECT_PROFILE.RECRUITING' | translate }}
                        span(
                            title="{{ 'ADMIN.PROJECT_PROFILE.RECRUITING_MESSAGE' | translate }}"
                        )
                            include ../../svg/recruit.svg
                        div.check
                            input(
                                type="checkbox",
                                ng-model="project.is_looking_for_people"
                            )
                            div
                            span.check-text.check-yes(translate="COMMON.YES")
                            span.check-text.check-no(translate="COMMON.NO")

                    .looking-for-people-reason(ng-show="project.is_looking_for_people")
                        label {{ 'ADMIN.PROJECT_PROFILE.RECRUITING_MESSAGE' | translate }}
                        input(
                            type="text"
                            maxlength="200"
                            ng-model="project.looking_for_people_note"
                            placeholder="{{ 'ADMIN.PROJECT_PROFILE.RECRUITING_PLACEHOLDER' | translate }}"
                        )

                fieldset
                    .project-privacy-settings
                        div.privacy-option
                            input.privacy-project(
                                type="radio"
                                id="private-project"
                                name="privacy-project"
                                ng-model="project.is_private"
                                ng-value="false"
                            )
                            label.trans-button(for="private-project") {{ 'ADMIN.PROJECT_PROFILE.PUBLIC_PROJECT' | translate }}
                                span(title="{{ 'ADMIN.PROJECT_PROFILE.PUBLIC_PROJECT_DESC' | translate }}")
                                    include ../../svg/help.svg

                        div.privacy-option
                            input.privacy-project(
                                type="radio"
                                id="public-project"
                                name="privacy-project"
                                ng-model="project.is_private"
                                ng-value="true"
                            )
                            label.trans-button(for="public-project") {{'ADMIN.PROJECT_PROFILE.PRIVATE_PROJECT' | translate }}
                                span(title="{{ 'ADMIN.PROJECT_PROFILE.PRIVATE_PROJECT_DESC' | translate }}")
                                    include ../../svg/help.svg

                    a.private-or-public(
                        href="https://taiga.io/support/whats-the-difference-between-public-and-private-projects/"
                        target="_blank"
                    )
                        span(title="{{ 'ADMIN.PROJECT_PROFILE.PRIVATE_OR_PUBLIC' | translate }}")
                            include ../../svg/help.svg
                        span {{'ADMIN.PROJECT_PROFILE.PRIVATE_OR_PUBLIC' | translate }}
                button.button-green.submit-button(
                    type="submit"
                    title="{{'COMMON.SAVE' | translate}}"
                    translate="COMMON.SAVE"
                )
                a.delete-project(
                    href=""
                    title="{{'ADMIN.PROJECT_PROFILE.DELETE' | translate}}"
                    ng-click="ctrl.openDeleteLightbox()"
                ) {{ 'ADMIN.PROJECT_PROFILE.DELETE' | translate }}

div.lightbox.lightbox-delete-project(tg-lb-delete-project)
    include ../includes/modules/lightbox-delete-project
