div.wrapper(tg-project-profile, ng-controller="ProjectProfileController as ctrl",
            ng-init="section='admin'; sectionName='Project details'")
    sidebar.menu-secondary.sidebar(tg-admin-navigation="project-profile")
        include ../includes/modules/admin-menu

    sidebar.menu-tertiary.sidebar(tg-admin-navigation="details")
        include ../includes/modules/admin-submenu-project-profile

    section.main.project-details
        header
            include ../includes/components/mainTitle

        form
            fieldset
                label(for="project-name") Project Name
                input(type="text", name="name", placeholder="Project name", id="project-name",
                      ng-model="project.name", data-required="true", maxlength="45")

            fieldset
                label(for="project-slug") Project Slug
                input(type="text", name="slug", placeholder="Slug", id="project-slug",
                      ng-model="project.slug", data-required="true")

            fieldset
                label(for="project-sprints") Number of sprints
                input(type="number", name="total_milestones", min="0", placeholder="Number of sprints",
                      id="project-sprints", ng-model="project.total_milestones", data-type="digits")

            fieldset
                label(for="total-story-points") Number of US points
                input(type="number", name="total_story_points", min="0", placeholder="Number of US points",
                      id="total-story-points", ng-model="project.total_story_points",
                      data-type="digits", data-required="true")

            fieldset
                label(for="project-description") Description
                textarea(name="description", placeholder="Description", id="project-description",
                         ng-model="project.description", data-required="true")

            tg-privacy-settings-inputs
                div.privacy-settings
                    div
                        input.hidden(type="radio", disabled="disabled")
                        label.trans-button(for="public-project")
                            span Public Project
                    div
                        input.hidden(type="radio", checked="checked", disabled="disabled")
                        label.trans-button(for="private-project")
                            span Private Project

                p All projects are private during Taiga's beta period.

            button.button-green.submit-button(type="submit", title="Save") Save
            a.delete-project(href="", title="Delete this project", ng-click="ctrl.openDeleteLightbox()") Delete this project

div.lightbox.lightbox-delete-project(tg-lb-delete-project)
    include ../includes/modules/lightbox-delete-project
