
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

doctype html

div.wrapper(
    ng-controller="ProjectValuesSectionController",
    ng-init="sectionName='ADMIN.CUSTOM_FIELDS.TITLE'"
)

    tg-project-menu

    sidebar.menu-secondary.sidebar.settings-nav(tg-admin-navigation="project-values")
        include ../includes/modules/admin-menu

    sidebar.menu-tertiary.sidebar(tg-admin-navigation="values-custom-fields")
        include ../includes/modules/admin-submenu-project-values

    section.main.admin-common.admin-attributes
        include ../includes/components/mainTitle
        p.admin-subtitle(translate="ADMIN.CUSTOM_FIELDS.SUBTITLE")

        div.admin-attributes-section(
            tg-project-custom-attributes,
            ng-controller="ProjectCustomAttributesController as ctrl",
            ng-init="init('epic'); customFieldSectionTitle='ADMIN.CUSTOM_FIELDS.EPIC_DESCRIPTION'; customFieldButtonTitle='ADMIN.CUSTOM_FIELDS.EPIC_ADD'"
        )
            include ../includes/modules/admin/admin-custom-attributes

        div.admin-attributes-section(
            tg-project-custom-attributes,
            ng-controller="ProjectCustomAttributesController as ctrl",
            ng-init="init('userstory'); customFieldSectionTitle='ADMIN.CUSTOM_FIELDS.US_DESCRIPTION'; customFieldButtonTitle='ADMIN.CUSTOM_FIELDS.US_ADD'"
        )
            include ../includes/modules/admin/admin-custom-attributes

        div.admin-attributes-section(
            tg-project-custom-attributes,
            ng-controller="ProjectCustomAttributesController as ctrl",
            ng-init="init('task'); customFieldSectionTitle='ADMIN.CUSTOM_FIELDS.TASK_DESCRIPTION'; customFieldButtonTitle='ADMIN.CUSTOM_FIELDS.TASK_ADD'"
        )
            include ../includes/modules/admin/admin-custom-attributes

        div.admin-attributes-section(
            tg-project-custom-attributes,
            ng-controller="ProjectCustomAttributesController as ctrl",
            ng-init="init('issue'); customFieldSectionTitle='ADMIN.CUSTOM_FIELDS.ISSUE_DESCRIPTION'; customFieldButtonTitle='ADMIN.CUSTOM_FIELDS.ISSUE_ADD'"
        )
            include ../includes/modules/admin/admin-custom-attributes
