doctype html

div.wrapper.memberships(
    ng-controller="MembershipsController as ctrl"
    ng-init="section='admin'; sectionName='ADMIN.MEMBERSHIPS.TITLE'"
    tg-memberships
)
    tg-project-menu

    sidebar.menu-secondary.sidebar.settings-nav(tg-admin-navigation="memberships")
        include ../includes/modules/admin-menu

    section.main.admin-membership.admin-common
        .header-with-actions
            header
                include ../includes/components/mainTitle
                .header-message 
                    tg-no-more-memberships-explanation(ng-if="canAddUsers == false", project="project")

                    .action-buttons
                        button.button-green(
                            translate="ADMIN.MEMBERSHIPS.ADD_BUTTON"
                            title="{{ ADMIN.MEMBERSHIPS.ADD_BUTTON_TITLE | translate }}",
                            ng-click="ctrl.addNewMembers()"
                            ng-if="canAddUsers == true"
                        )


        include ../includes/modules/admin/admin-membership-table

        div.paginator.memberships-paginator
