div.wrapper(ng-controller="ProjectValuesSectionController")
    sidebar.menu-secondary.sidebar(tg-admin-navigation="project-values")
        include ../includes/modules/admin-menu

    sidebar.menu-tertiary.sidebar(tg-admin-navigation="values-us")
        include ../includes/modules/admin-submenu-project-values

    section.main.admin-common.admin-attributes
        include ../includes/components/mainTitle
        p.admin-subtitle Specify the column headers that you will use to classify User Stories

        div.admin-attributes-section(tg-project-values, ng-controller="ProjectValuesController as ctrl",
            ng-init="section='admin'; resource='userstories'; type='userstory-statuses'; sectionName='Us Statuses'",
            type="userstory-statuses")
            include ../includes/modules/admin/project-us-status

        div.admin-attributes-section(tg-project-values, ng-controller="ProjectValuesController as ctrl",
            ng-init="section='admin'; resource='userstories'; type='points'; sectionName='Us points'",
            type="points")
            include ../includes/modules/admin/project-points

        div.admin-attributes-section(tg-project-custom-attributes,
                                     ng-controller="ProjectCustomAttributesController as ctrl",
                                     ng-init="type='userstory';")
            - var customFieldButtonTitle = "Add a custom field in tasks"
            include ../includes/modules/admin/admin-custom-attributes

        - var csvType = "US";
        - var controller = "CsvExporterUserstoriesController";
        div.admin-attributes-section
            include ../includes/modules/admin/project-csv
