
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

p.member-limit-warning(
    ng-if="project.get('i_am_owner') == true"
    translate="LIGHTBOX.CREATE_MEMBER.LIMIT_USERS_WARNING_MESSAGE_FOR_OWNER"
    translate-values="{maxMembers: project.get('max_memberships')}"
)

p.member-limit-warning(
    ng-if="project.get('i_am_owner') == false"
    translate="LIGHTBOX.CREATE_MEMBER.LIMIT_USERS_WARNING_MESSAGE"
    translate-values="{maxMembers: project.get('max_memberships')}"
)
