.avatar
    img(
        src!="<%- imgurl %>"
        alt!="<%- full_name %>"
        style!="background-color: <%- bg %>"
    )
    .user-data
        .name
            span(ng-non-bindable) <%- full_name %>
            <% if (isOwner) { %>
            tg-svg.owner-badge(
                svg-icon="icon-badge",
                svg-title-translate="COMMON.OWNER"
            )
            <% }  %>
        .data
            span.email <%- email %>
            <% if (pending) { %>
            span.pending <%- pending %>
            <% }  %>
