
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

p.admin-subtitle(
    ng-if="project.i_am_owner == true"
    translate="ADMIN.MEMBERSHIPS.LIMIT_USERS_WARNING_MESSAGE_FOR_OWNER"
    translate-values="{members: project.total_memberships}"
)

p.admin-subtitle(
    ng-if="project.i_am_owner == false"
    translate="ADMIN.MEMBERSHIPS.LIMIT_USERS_WARNING_MESSAGE_FOR_ADMIN"
    translate-values="{owner_email: project.owner.username}"
)
