
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

.card-inner(
    ng-if="vm.inViewPort"
    ng-attr-title="{{ vm.zoomLevel == 0 || vm.folded ? (vm.item.getIn(['model', 'subject']) | emojify) : vm.item.getIn(['model', 'blocked_note']) }}"
    class="{{'zoom-' + vm.zoomLevel}} type-{{::vm.type}}"
    ng-class="{'card-blocked': vm.item.getIn(['model', 'is_blocked']), 'archived': vm.archived, 'with-assigned-user': vm.item.get('assigned_users').size, 'with-fold-action': vm.visible('unfold') && (vm.hasTasks() || vm.hasVisibleAttachments())}"
)
    include card-templates/card-tags

    tg-card-actions(
        item="vm.item"
        zoom-level="vm.zoomLevel"
        vm="vm"
    )

    div(ng-if="vm.zoomLevel > 0")
        include card-templates/card-epics
    include card-templates/card-title
    .wrapper-assigned-to-data
        tg-card-assigned-to(
            item="vm.item"
            zoom-level="vm.zoomLevel"
            vm="vm"
        )
        tg-card-data(
            ng-if="vm.visible('card-data')"
            item="vm.item"
            zoom-level="vm.zoomLevel"
            vm="vm"
        )
    tg-card-slideshow(
        ng-if="vm.isSlideshowVisible()"
        tg-check-permission="view_tasks"
        images="vm.item.get('images')"
    )
    include card-templates/card-tasks
    include card-templates/card-unfold

.card-transit-multi
    div.fake-us
        div.fake-img
        div.column
            div.fake-text
            div.fake-text
    div.fake-us
        div.fake-img
        div.column
            div.fake-text
            div.fake-text
