include ../../../partials/common/components/wysiwyg.jade

section.comments
    .comments-wrapper
        tg-comment.comment(
            ng-repeat="comment in vm.comments"
            ng-class="{'deleted-comment': comment.delete_comment_date}"
            comment="comment"
            on-delete-comment="vm.onDeleteComment({commentId: commentId})"
            on-restore-deleted-comment="vm.onRestoreDeletedComment({commentId: commentId})"
        )
    tg-editable-wysiwyg.add-comment(
        ng-model="vm.type"
        tg-check-permission="{{vm.modifyType}}"
        tg-toggle-comment
    )
        textarea(
            ng-attr-placeholder="{{'COMMENTS.TYPE_NEW_COMMENT' | translate}}"
            tg-markitup="tg-markitup"
            ng-model="vm.type.comment"
        )
        +wysihelp
        .save-comment-wrapper
            button.button-green.save-comment(
                type="button"
                title="{{'COMMENTS.COMMENT' | translate}}"
                translate="COMMENTS.COMMENT"
                ng-disabled="!vm.type.comment.length"
                ng-click="vm.onAddComment()"
                tg-loading="vm.loading"
            ) 
