include ../../../partials/common/components/wysiwyg.jade

section.comments
    .comments-wrapper
        tg-comment.comment(
            ng-repeat="comment in vm.comments track by comment.id"
            ng-class="{'deleted-comment': comment.delete_comment_date}"
            comment="comment"
            name="{{vm.name}}"
            loading="vm.loading"
            editing="vm.editing"
            deleting="vm.deleting"
            object="{{vm.object}}"
            on-delete-comment="vm.onDeleteComment({commentId: commentId})"
            on-restore-deleted-comment="vm.onRestoreDeletedComment({commentId: commentId})"
            on-edit-comment="vm.onEditComment({commentId: commentId, commentData: commentData})"
        )
    tg-editable-wysiwyg.add-comment(
        ng-model="vm.type"
        tg-check-permission="{{::vm.canAddCommentPermission}}"
        tg-toggle-comment
    )
        textarea(
            ng-attr-placeholder="{{'COMMENTS.TYPE_NEW_COMMENT' | translate}}"
            tg-markitup="tg-markitup"
            ng-model="vm.type.comment"
        )
        +wysihelp
        .save-comment-wrapper
            button.button-green.save-comment(
                type="button"
                title="{{'COMMENTS.COMMENT' | translate}}"
                translate="COMMENTS.COMMENT"
                ng-disabled="!vm.type.comment.length || vm.loading"
                ng-click="vm.onAddComment()"
                tg-loading="vm.loading"
            )
