.list-itemtype-ticket(ng-class="{'blocked-project': vm.item.get('project_blocked_code')}")
    a.list-itemtype-avatar(
        href=""
        ng-if="::vm.item.get('assigned_to')"
        tg-nav="user-profile:username=vm.item.get('assigned_to_username')"
        title="{{ ::vm.item.getIn(['assigned_to_extra_info', 'full_name_display']) }}"
    )
        img(
            tg-avatar="vm.item.get('assigned_to_extra_info')",
            alt="{{ ::vm.item.getIn(['assigned_to_extra_info', 'full_name_display']) }}"
        )

    a.list-itemtype-avatar(
        href=""
        ng-if="::!vm.item.get('assigned_to')",
        title="{{ 'COMMON.ASSIGNED_TO.NOT_ASSIGNED'|translate }}"
    )
        img(
            src="/#{v}/images/unnamed.png",
            alt="{{ 'COMMON.ASSIGNED_TO.NOT_ASSIGNED'|translate }}"
        )

    .list-itemtype-ticket-data
        p
            span.ticket-project
                | {{:: vm.item.get('project_name') }}
            span.ticket-type(
                ng-if="::vm.item.get('type') === 'epic'"
                translate="COMMON.EPIC"
            )
            span.ticket-type(
                ng-if="::vm.item.get('type') === 'userstory'"
                translate="COMMON.USER_STORY"
            )
            span.ticket-type(
                ng-if="::vm.item.get('type') === 'task'"
                translate="COMMON.TASK"
            )
            span.ticket-type(
                ng-if="::vm.item.get('type') === 'issue'"
                translate="COMMON.ISSUE"
            )
            span.ticket-status(ng-style="::{'color': vm.item.get('status_color')}") {{:: vm.item.get('status') }}
            tg-svg(
                ng-if="vm.item.get('project_blocked_code')"
                svg-icon="icon-blocked-project"
                svgTitleTranslate: "PROJECT.BLOCKED_PROJECT.BLOCKED"
            )
        h2
            span.ticket-id(tg-bo-ref="vm.item.get('ref')")
            a.ticket-title(
                href="#"
                ng-if="::vm.item.get('type') === 'epic'"
                tg-nav="project-epics-detail:project=vm.item.get('project_slug'),ref=vm.item.get('ref')"
                title="#{{ ::vm.item.get('ref') }} {{ ::vm.item.get('subject') }}"
                ng-bind-html="vm.item.get('subject') | emojify"
            )
            a.ticket-title(
                href="#"
                ng-if="::vm.item.get('type') === 'userstory'"
                tg-nav="project-userstories-detail:project=vm.item.get('project_slug'),ref=vm.item.get('ref')"
                title="#{{ ::vm.item.get('ref') }} {{ ::vm.item.get('subject') }}"
                ng-bind-html="vm.item.get('subject') | emojify"
            )
            a.ticket-title(
                href="#"
                ng-if="::vm.item.get('type') === 'task'"
                tg-nav="project-tasks-detail:project=vm.item.get('project_slug'),ref=vm.item.get('ref')"
                title="#{{ ::vm.item.get('ref') }} {{ ::vm.item.get('subject') }}"
                ng-bind-html="vm.item.get('subject') | emojify"
            )
            a.ticket-title(
                href="#"
                ng-if="::vm.item.get('type') === 'issue'"
                tg-nav="project-issues-detail:project=vm.item.get('project_slug'),ref=vm.item.get('ref')"
                title="#{{ ::vm.item.get('ref') }} {{ ::vm.item.get('subject') }}"
                ng-bind-html="vm.item.get('subject') | emojify"
            )

    div.list-itemtype-track
        span.list-itemtype-track-likers(
            ng-class="{'active': vm.item.get('is_voter')}",
            title="{{ 'COMMON.VOTE_BUTTON.COUNTER_TITLE'|translate:{total:vm.item.get(\"total_voters\")||0}:'messageformat' }}"
        )
            tg-svg(svg-icon="icon-upvote")
            span {{ ::vm.item.get('total_voters') }}

        span.list-itemtype-track-watchers(
            ng-class="{'active': vm.item.get('is_watcher')}"
            title="{{ 'COMMON.WATCH_BUTTON.COUNTER_TITLE'|translate:{total:vm.item.get(\"total_watchers\")||0}:'messageformat' }}"
        )
            tg-svg(svg-icon="icon-watch")
            span {{ ::vm.item.get('total_watchers') }}
