.create-project.import-project(ng-if="!vm.from")
    div(ng-include="'projects/create/import/import-header.html'")

    ul.import-project-from
        li.import-project-from-site Taiga
        li.import-project-from-site(ng-click="vm.select('trello')") Trello
        li.import-project-from-site Jira
        li.import-project-from-site Github
    
    button.trans-button.create-project-action-back(
        type="button"
        ng-click="vm.onCancelProjectDuplication()"
        title="{{'PROJECT.CREATE.BACK' | translate}}"
        translate="PROJECT.CREATE.BACK"
    )

tg-trello-import(
    ng-if="vm.from == 'trello'"
    on-cancel="vm.onCancel()"
)
