section.history
    tg-history-tabs(
        on-active-comments="vm.onActiveHistoryTab(true)"
        on-active-activities="vm.onActiveHistoryTab(false)"
        active-tab="vm.viewComments",
        on-order-comments="vm.onOrderComments()"
        comments-num="vm.commentsNum"
        activities-num="vm.activitiesNum"
    )
    tg-comments(
        ng-if="vm.viewComments"
        comments="vm.comments"
    )
    tg-history(
        ng-if="!vm.viewComments"
        activities="vm.activities"
    )
