
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

section.ticket-assigned-to(
    tg-assigned-to-inline
    ng-model="obj"
    required-perm="modify_{{ objType }}"
)
div.ticket-detail-settings
    tg-due-date-popover(
        due-date="obj.due_date"
        is-closed="obj.is_closed"
        item="obj"
        obj-type="task"
        not-auto-save="true"
    )
    button.btn-icon.iocaine(
        type="button"
        ng-class="{'active': obj.is_iocaine}"
    )
        tg-svg(svg-icon="icon-iocaine")
    button.btn-icon.is-blocked(
        type="button"
        title="{{ 'COMMON.BLOCK_TITLE' | translate }}"
        ng-class="{ 'item-unblock': obj.is_blocked, 'item-block': !obj.is_blocked }"
    )
        tg-svg(svg-icon="icon-lock")
