
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

.swimlane-select(ng-if="project.is_kanban_activated && swimlanesList.size")
    .label {{ 'LIGHTBOX.CREATE_EDIT.SWIMLANE' | translate }}
    tg-swimlane-selector(
        ng-model="obj.swimlane"
        swimlanes="swimlanesList"
        default-swimlane-id="project.default_swimlane"
        user-story="obj"
        has-unclassified-stories="noSwimlaneUserStories"
        ng-if="obj"
    )

section.creation-position(ng-if="mode == 'new'")
    .label {{ 'LIGHTBOX.CREATE_EDIT.LOCATION' | translate }}

    .creation-position-fields
        label(class="custom-radio")
            input(
                id="top-backlog"
                type='radio'
                ng-model="obj.us_position"
                value="bottom"
            )
            span.radio-control
            span.radio-label {{ 'LIGHTBOX.CREATE_EDIT.CREATE_BOTTOM' | translate }}

        label(class="custom-radio")
            input(
                id="bottom-backlog"
                type='radio'
                ng-model="obj.us_position"
                value="top"
            )
            span.radio-control
            span.radio-label {{ 'LIGHTBOX.CREATE_EDIT.CREATE_TOP' | translate }}

section.ticket-assigned-to.multiple-assign(
    tg-assigned-users-inline
    ng-model="obj"
    required-perm="modify_{{ objType }}"
)
.ticket-estimation
    tg-lb-us-estimation(ng-model="obj")

.ticket-detail-settings
    tg-due-date-popover(
        due-date="obj.due_date"
        is-closed="obj.is_closed"
        item="obj"
        obj-type="us"
        format="button"
        not-auto-save="true"
    )
    button.btn-icon.team-requirement(
        type="button"
        aria-label="{{ 'COMMON.TEAM_REQUIREMENT' | translate }}"
        title="{{ 'COMMON.TEAM_REQUIREMENT' | translate }}"
        ng-class="{ 'active': isTeamRequirement() }"
    )
        tg-svg(svg-icon="icon-team-requirement")
    button.btn-icon.client-requirement(
        type="button"
        aria-label="{{ 'COMMON.CLIENT_REQUIREMENT' | translate }}"
        title="{{ 'COMMON.CLIENT_REQUIREMENT' | translate }}"
        ng-class="{ 'active': isClientRequirement() }"
    )
        tg-svg(svg-icon="icon-client-requirement")

    button.btn-icon.is-blocked(
        type="button"
        aria-label="{{ 'COMMON.BLOCK_TITLE' | translate }}"
        title="{{ 'COMMON.BLOCK_TITLE' | translate }}"
        ng-class="{ 'item-unblock': obj.is_blocked, 'item-block': !obj.is_blocked }"
    )
        tg-svg(svg-icon="icon-lock")
