.diff-tags-wrapper
    p(
        ng-if="vm.removedTags.length"
        translate="ACTIVITY.TAGS_REMOVED"
        translate-values="{tags: vm.removedTags}"
    )
    p(
        ng-if="vm.diffAddTags.length"
        translate="ACTIVITY.TAGS_ADDED"
        translate-values="{tags: vm.diffAddTags}"
    ) 
