.diff-status-wrapper
    p.key(
        translate="ACTIVITY.FIELDS.DESCRIPTION"
    )
    p.diff(
        ng-if="vm.diff[0]"
        ng-bind-html="vm.diff[0]"
    )
    p.diff(
        ng-if="vm.diff[1]"
        ng-bind-html="vm.diff[1]"
    )
