.diff-status-wrapper
    p.key(
        translate="ACTIVITY.FIELDS.DESCRIPTION"
    )
    p.diff(
        ng-if="diff[0]"
        ng-bind-html="diff[0]"
    )
    p.diff(
        ng-if="diff[1]"
        ng-bind-html="diff[1]"
    )
