label.due-date-button.button-gray.is-editable(
    ng-if="vm.visible()"
    ng-disabled="vm.disabled()"
    ng-style="{background: vm.color()}"
    ng-attr-title="{{ vm.title() }}"
    ng-click="vm.setDueDate()"
)
    tg-svg(svg-icon="icon-clock")
