.due-date-button-wrapper
    label.due-date-button.button-gray.is-editable.date-picker-popover-trigger(
        ng-disabled="vm.disabled()"
        ng-class="vm.color()"
        ng-attr-title="{{ vm.title() }}"
    )
        tg-svg(svg-icon="icon-clock")
    input.due-date.no-focus(
        type="hidden"
        picker-value="{{ vm.dueDate }}"
    )
    div.date-picker-popover
        div.date-picker-container
        div.date-picker-popover-footer(ng-if="vm.dueDate")
            a.date-picker-clean(href="", title="{{'LIGHTBOX.SET_DUE_DATE.TITLE_ACTION_DELETE_DUE_DATE' | translate}}")
                tg-svg(svg-icon="icon-trash")