
//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.
//-
//- Copyright (c) 2021-present Kaleidos Ventures SL

.board-zoom
    .board-zoom-title {{ 'ZOOM.TITLE' | translate }}

    label.zoom-radio(ng-attr-title="{{ 'ZOOM.ZOOM-1' | translate }}")
        input(
            type="radio"
            value="0"
            ng-model="value"
            tg-bind-scope
        )
        .checkmark
            span {{ 'ZOOM.ZOOM-1' | translate }}

    label.zoom-radio(ng-attr-title="{{ 'ZOOM.ZOOM-2' | translate }}")
        input(
            type="radio"
            value="1"
            ng-model="value"
            tg-bind-scope
        )
        .checkmark
            span {{ 'ZOOM.ZOOM-2' | translate }}

    label.zoom-radio(ng-attr-title="{{ 'ZOOM.ZOOM-3' | translate }}")
        input(
            type="radio"
            value="2"
            ng-model="value"
            tg-bind-scope
        )
        .checkmark
            span {{ 'ZOOM.ZOOM-3' | translate }}

    label.zoom-radio(ng-attr-title="{{ 'ZOOM.ZOOM-4' | translate }}")
        input(
            type="radio"
            value="3"
            ng-model="value"
            tg-bind-scope
        )
        .checkmark
            span {{ 'ZOOM.ZOOM-4' | translate }}
