
//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.
//-
//- Copyright (c) 2021-present Kaleidos Ventures SL

button.btn-filter.ng-animate-disabled.e2e-show-tag-input(
    variant="secondary"
    ng-if="!vm.addTag && vm.checkPermissions()"
    title="{{'COMMON.TAGS.ADD' | translate}}"
    ng-click="vm.displayTagInput()"
)
    span.add-tag-text(translate="COMMON.TAGS.ADD")
    tg-svg(
        svg-icon="icon-add"
        svg-title-translate="COMMON.TAGS.ADD"
    )
