button.btn-filter.ng-animate-disabled.e2e-show-tag-input(
    variant="secondary"
    ng-if="!vm.addTag && vm.checkPermissions()"
    title="{{'COMMON.TAGS.ADD' | translate}}"
    ng-click="vm.displayTagInput()"
)
    span.add-tag-text(translate="COMMON.TAGS.ADD")
    tg-svg(
        svg-icon="icon-add"
        svg-title-translate="COMMON.TAGS.ADD"
    )
