
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC


//- New attachment added
.diff-attachments-new(
    ng-if="diff.new.length"
    ng-repeat="newAttachment in diff.new"
)
    span.key(translate="ACTIVITY.NEW_ATTACHMENT")
    span.diff {{newAttachment.filename}}

//- Attachment updated
.diff-attachments-update(
    ng-if="diff.changed.length"
    ng-repeat="editAttachment in diff.changed"
)
    span.key(
        translate="ACTIVITY.UPDATED_ATTACHMENT"
        translate-values="{filename: editAttachment.filename}"
    )
    span.diff(ng-if="editAttachment.changes.is_deprecated")
        span(
            ng-if="editAttachment.changes.is_deprecated[1] == false"
            translate="ACTIVITY.BECAME_UNDEPRECATED"
        )
        span(
            ng-if="editAttachment.changes.is_deprecated[1] == true"
            translate="ACTIVITY.BECAME_DEPRECATED"
        )
    span.diff(ng-if="editAttachment.changes.description")
        span(ng-if='editAttachment.changes.description[0].length') {{editAttachment.changes.description[0]}}
        span(ng-if='!editAttachment.changes.description[0].length') ...
        tg-svg(
            svg-icon="icon-arrow-right"
        )
        span {{editAttachment.changes.description[1]}}

//- Attachment deleted
.diff-attachments-deleted(
    ng-if="diff.deleted.length"
    ng-repeat="deletedAttachment in diff.deleted"
)
    span.key(translate="ACTIVITY.DELETED_ATTACHMENT")
    span.diff {{deletedAttachment.filename}}
