.row.member(ng-repeat="user in memberships | membersFilter:filtersQ:filtersRole")
    .username
        .avatar
            img(tg-avatar="user", tg-bo-alt="user.full_name_display")

            .avatar-data
                a.name(
                    tg-nav="user-profile:username=user.username",
                    title="{{::user.full_name_display}}"
                ) {{::user.full_name_display}}
                    tg-svg(
                        ng-if="user.id == owner"
                        svg-icon="icon-badge"
                        svg-title-translate="COMMON.OWNER"
                    )

                span.position {{::user.role_name}}

    .member-stats(
        tg-team-member-stats
        stats="stats"
        user="user.user"
        issuesEnabled="issuesEnabled"
        tasksenabled="tasksEnabled"
        wikienabled="wikiEnabled"
    )
