.attribute(ng-if="issuesEnabled")
    span.icon.icon-briefcase(ng-style="{'opacity': stats.closed_bugs[userId]}",
                             ng-class="{'top': stats.closed_bugs[userId] == 1}")

.attribute(ng-if="tasksEnabled")
    span.icon.icon-iocaine(ng-style="{'opacity': stats.iocaine_tasks[userId]}",
                           ng-class="{'top': stats.iocaine_tasks[userId] == 1}")

.attribute(ng-if="wikiEnabled")
    span.icon.icon-writer(ng-style="{'opacity': stats.wiki_changes[userId]}",
                          ng-class="{'top': stats.wiki_changes[userId] == 1}")

.attribute(ng-if="issuesEnabled")
    span.icon.icon-bug(ng-style="{'opacity': stats.created_bugs[userId]}",
                       ng-class="{'top': stats.created_bugs[userId] == 1}")

.attribute(ng-if="tasksEnabled")
    span.icon.icon-tasks(ng-style="{'opacity': stats.closed_tasks[userId]}",
                         ng-class="{'top': stats.closed_tasks[userId] == 1}")

.attribute
    span.points(ng-bind="stats.totals[userId]")
