ul
    li
        a(
            ng-class="{active: !filtersRole.id}"
            ng-click="ctrl.setRole()"
            href=""
        )
          span.title(translate="TEAM.SECTION_FILTER_ALL")
          svg.icon.icon-arrow-right
              use(xlink:href="#icon-arrow-right")

    li(ng-repeat="role in roles")
        a(
            ng-class="{active: role.id == filtersRole.id}"
            ng-click="ctrl.setRole(role)"
            href=""
        )
            span.title(tg-bo-bind="role.name")
            svg.icon.icon-arrow-right
                use(xlink:href="#icon-arrow-right")
