
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

.attribute(ng-if="issuesEnabled")
    tg-svg(
        svg-icon="icon-briefcase",
        ng-style="{'opacity': stats.closed_bugs[userId]}",
        ng-class="{'top': stats.closed_bugs[userId] == 1}"
    )

.attribute(ng-if="tasksEnabled")
    tg-svg(
        svg-icon="icon-iocaine",
        ng-style="{'opacity': stats.iocaine_tasks[userId]}",
        ng-class="{'top': stats.iocaine_tasks[userId] == 1}"
    )

.attribute(ng-if="wikiEnabled")
    tg-svg(
        svg-icon="icon-edit",
        ng-style="{'opacity': stats.wiki_changes[userId]}",
        ng-class="{'top': stats.wiki_changes[userId] == 1}"
    )

.attribute(ng-if="issuesEnabled")
    tg-svg(
        svg-icon="icon-bug",
        ng-style="{'opacity': stats.created_bugs[userId]}",
        ng-class="{'top': stats.created_bugs[userId] == 1}"
    )

.attribute(ng-if="tasksEnabled")
    tg-svg(
        svg-icon="icon-task",
        ng-style="{'opacity': stats.closed_tasks[userId]}",
        ng-class="{'top': stats.closed_tasks[userId] == 1}"
    )

.attribute
    span.points(ng-bind="stats.totals[userId]")
