ul
    li
        a(
            ng-class="{active: !filtersRole.id}"
            ng-click="ctrl.setRole()"
            href=""
        )
          span.title(translate="TEAM.SECTION_FILTER_ALL")
          tg-svg(svg-icon="icon-arrow-right")

    li(ng-repeat="role in roles")
        a(
            ng-class="{active: role.id == filtersRole.id}"
            ng-click="ctrl.setRole(role)"
            href=""
        )
            span.title(tg-bo-bind="role.name")
            tg-svg(svg-icon="icon-arrow-right")
