.row
    .username
        .avatar
            img(tg-avatar="currentUser", tg-bo-alt="currentUser.full_name_display")

            .avatar-data
                .name
                    span(tg-bo-bind="currentUser.full_name_display")
                    tg-svg(
                        ng-if="currentUser.id == owner"
                        svg-icon="icon-badge"
                        svg-title-translate="COMMON.OWNER"
                    )

                .position(tg-bo-bind="currentUser.role_name")

                div(
                    tg-leave-project=""
                    project="project"
                    user="currentUser"
                )

    .member-stats(
        tg-team-member-stats
        stats="stats"
        user="currentUser.user"
        issuesEnabled="issuesEnabled"
        tasksenabled="tasksEnabled"
        wikienabled="wikiEnabled"
    )
