label.create-project-invite-avatar(
    ng-class="{'disabled': isUserDisabled}"
    ng-click="isUserDisabled = !isUserDisabled"
)
    img(
        tg-avatar="avatar"
        alt="{{avatar.get('full_name_display')}}"
        title="{{avatar.get('full_name_display')}}"
    )
