tg-lightbox-close(on-close="onClose()")

form(
    ng-if="open"
    ng-submit="onSave({lan: codeLanguage, code: code})"
)
    h2.title(translate="COMMON.WYSIWYG.CODE_SNIPPET")

    fieldset
        select(ng-model="codeLanguage")
          option(value="") {{'COMMON.WYSIWYG.SELECT_LANGUAGE_PLACEHOLDER' | translate}}
          option(value="remove-formating") {{'COMMON.WYSIWYG.SELECT_LANGUAGE_REMOVE_FORMATING' | translate}}
          option(
              ng-repeat="option in languages"
              ng-value="option.name"
          ) {{option.name}}

    fieldset
        textarea(ng-model="code")

     fieldset
        button.button-green.button-large.button-block(
            type="submit"
            translate="COMMON.SAVE"
        )
