
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

.attachment-preview(ng-if="vm.attachments.size && vm.current")
    tg-lightbox-close

    .attachment-preview-container
        a.previous(
            href="#",
            ng-click="vm.previous()",
            ng-if="vm.hasPagination()"
        )
            tg-svg(svg-icon="icon-arrow-left")

        a(href="{{vm.current.get('url')}}", title="{{vm.current.get('description')}}", target="_blank", download="{{vm.current.get('name')}}")
            tg-preload-image(preload-src="{{vm.current.get('preview_url') || vm.getCurrent().get('url')}}")
                 img(ng-src="{{vm.current.get('preview_url') || vm.getCurrent().get('url')}}")

        a.next(
            href="#",
            ng-click="vm.next()",
            ng-if="vm.hasPagination()"
        )
            tg-svg(svg-icon="icon-arrow-right")
