
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

tg-tag-line-common.tags-block(
    project="vm.project"
    tags="vm.item.tags"
    permissions="{{vm.permissions}}"
    loading-remove-tag="vm.loadingRemoveTag"
    loading-add-tag="vm.loadingAddTag"
    on-add-tag="vm.onAddTag(name, color)"
    on-delete-tag="vm.onDeleteTag(tag)"
)
