label.button-gray.client-requirement(
    for="client-requirement"
    class!="<% if(canEdit){ %>is-editable<% }; %> <% if(isRequired){ %>active<% }; %>"
    title="{{ 'COMMON.CLIENT_REQUIREMENT' | translate }}"
)
        include ../../svg/client-requirement.svg
input(
    type="checkbox"
    id="client-requirement"
    name="client-requirement"
)
