label.button-gray.client-requirement(
    for="client-requirement"
    class!="<% if(canEdit){ %>is-editable<% }; %> <% if(isRequired){ %>active<% }; %>"
    title="{{ 'COMMON.CLIENT_REQUIREMENT' | translate }}"
)
    svg.icon.icon-client-requirement
        use(xlink:href="#icon-client-requirement")
input(
    type="checkbox"
    id="client-requirement"
    name="client-requirement"
)
