label.button-gray.team-requirement(
    for="team-requirement"
    class!=" <% if(canEdit){ %>is-editable<% }; %> <% if(isRequired){ %>active<% }; %>"
    title="{{ 'COMMON.TEAM_REQUIREMENT' | translate }}"
)
    tg-svg(svg-icon="icon-team-requirement")
input(
    type="checkbox"
    id="team-requirement"
    name="team-requirement"
)
