.card-owner
    .card-owner-info(ng-if="vm.item.get('assigned_to')")
        .card-owner-avatar
            img(
                ng-class="{'is-iocaine': vm.item.getIn(['model', 'is_iocaine'])}"
                tg-avatar="vm.item.get('assigned_to')"
            )
        span.card-owner-name(ng-if="vm.visible('owner')") {{vm.item.getIn(['assigned_to', 'full_name'])}}
        div(ng-if="!vm.visible('owner')")
            include card-title

    .card-owner-info(ng-if="!vm.item.get('assigned_to')")
        img(ng-src="/#{v}/images/unnamed.png")
        span.card-owner-name(
            ng-if="vm.visible('owner')",
            translate="COMMON.ASSIGNED_TO.NOT_ASSIGNED"
        )
        div(ng-if="!vm.visible('owner')")
            include card-title

    .card-owner-actions(
        ng-if="vm.visible('owner')"
        tg-check-permission="{{vm.getPermissionsKey()}}"
    )
        a.e2e-assign.card-owner-assign(
            ng-click="!$event.ctrlKey && vm.onClickAssignedTo({id: vm.item.get('id')})"
            href=""
          )
            tg-svg(svg-icon="icon-add-user")
            span(translate="COMMON.CARD.ASSIGN_TO")

        a.e2e-edit.card-edit(
            href=""
            ng-click="!$event.ctrlKey && vm.onClickEdit({id: vm.item.get('id')})"
            tg-loading="vm.item.get('loading')"
        )
            tg-svg(svg-icon="icon-edit")
            span(translate="COMMON.CARD.EDIT")
