ul.card-tasks(ng-if="vm.isRelatedTasksVisible()")
    li.card-task(tg-repeat="task in vm.item.getIn(['model', 'tasks'])")
        a(
            href="#"
            tg-nav="project-tasks-detail:project=vm.project.slug,ref=task.get('ref')",
            ng-class="{'closed-task': task.get('is_closed'), 'blocked-task': task.get('is_blocked')}"
            ng-bind-html="'#'+task.get('ref')+' '+task.get('subject') | emojify"
        )
