
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

.card-tasks(
    tg-check-permission="view_tasks"
    ng-if="vm.isRelatedTasksVisible()"
)
    ul
        li.card-task(tg-repeat="task in vm.item.getIn(['model', 'tasks'])")
            a(
                href="#"
                tg-nav="project-tasks-detail:project=vm.project.slug,ref=task.get('ref')",
                ng-class="{'closed-task': task.get('is_closed'), 'blocked-task': task.get('is_blocked')}"
            )
                span.card-task-ref {{::"#" + task.get('ref')}}
                span.card-task-subject(ng-bind-html="task.get('subject') | emojify")

