h2.card-title()
    a(
        href=""
        tg-ctrl-click-disable
        tg-nav="{{vm.getNavKey()}}:project=vm.project.slug,ref=vm.item.getIn(['model', 'ref'])",
        tg-nav-get-params="{\"kanban-status\": {{vm.item.getIn(['model', 'status'])}}}"
        title="#{{ ::vm.item.getIn(['model', 'ref']) }} {{ vm.item.getIn(['model', 'subject'])}}"
    )
        span(ng-if="vm.visible('ref')") {{::"#" + vm.item.getIn(['model', 'ref'])}}
        span.e2e-title(ng-if="vm.visible('subject')", ng-bind-html="vm.item.getIn(['model', 'subject']) | emojify")
        tg-belong-to-epics(
            format="pill"
            ng-if="vm.item.getIn(['model', 'epics'])"
            epics="vm.item.getIn(['model', 'epics'])"
        )
