.card-data(
    ng-if="vm.visible('extra_info')"
    ng-class="{'empty-tasks': !vm.item.getIn(['model', 'tasks']).size}"
)
    span.card-estimation.not-estimated(
        ng-if="vm.item.getIn(['model', 'total_points']) === null && vm.visible('empty_extra_info')",
        translate="US.NOT_ESTIMATED"
    )
    span.card-estimation(
        ng-if="vm.item.getIn(['model', 'total_points'])"
    ) {{"COMMON.FIELDS.POINTS" | translate}} {{vm.item.getIn(['model', 'total_points'])}}
    .card-statistics
        tg-due-date.statistic.card-due-date(
            due-date="vm.item.getIn(['model', 'due_date'])"
            is-closed="vm.item.getIn(['model', 'is_closed'])"
        )
        .statistic.card-iocaine(
            ng-if="vm.item.getIn(['model', 'is_iocaine'])"
            title="{{'COMMON.IOCAINE_TEXT' | translate}}"
        )
            tg-svg(
                svg-icon="icon-iocaine"
            )
        .statistic.card-votes(
            ng-class="{'active': vm.item.getIn(['model', 'is_voter'])}"
            ng-if="vm.item.getIn(['model', 'total_voters']) || vm.visible('empty_extra_info')"
        )
            tg-svg(svg-icon="icon-upvote")
            span {{vm.item.getIn(['model', 'total_voters'])}}
        .statistic.card-watchers(ng-if="vm.item.getIn(['model', 'watchers']).size || vm.visible('empty_extra_info')")
            tg-svg(svg-icon="icon-watch")
            span {{vm.item.getIn(['model', 'watchers']).size}}
        .statistic.card-comments(ng-if="vm.item.getIn(['model', 'total_comments']) || vm.visible('empty_extra_info')")
            tg-svg(svg-icon="icon-bubble-empty")
            span {{vm.item.getIn(['model', 'total_comments'])}}
        .statistic.card-attachments(ng-if="vm.item.getIn(['model', 'attachments']).size || vm.visible('empty_extra_info')")
           tg-svg(svg-icon="icon-attachment")
           span {{vm.item.getIn(['model', 'attachments']).size}}
