
//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.
//-
//- Copyright (c) 2021-present Kaleidos Ventures SL

.card-tasks(
    tg-check-permission="view_tasks"
    ng-if="vm.isRelatedTasksVisible()"
)
    ul
        li.card-task(tg-repeat="task in vm.item.getIn(['model', 'tasks'])")
            a(
                href="#"
                tg-nav="project-tasks-detail:project=vm.project.slug,ref=task.get('ref')",
                ng-class="{'closed-task': task.get('is_closed'), 'blocked-task': task.get('is_blocked')}"
            )
                span.card-task-ref {{::"#" + task.get('ref')}}
                span.card-task-subject(ng-bind-html="task.get('subject') | emojify")

