<% if (vm.visible('assigned_to')) { %>
.card-assigned-to
    <% if (!vm.item.get('assigned_to')) { %>
    .card-user-avatar.card-not-assigned
        img(
            title!="<%= translate('COMMON.ASSIGNED_TO.NOT_ASSIGNED') %>"
            src="/#{v}/images/unnamed.png"
        )
        <% if(vm.zoomLevel > 0) { %>
        span.card-not-assigned-title <%= translate('COMMON.ASSIGNED_TO.NOT_ASSIGNED') %>
        <% } %>
    <% } %>

    <% if (vm.item.get('assigned_to')) { %>
    <% _.forEach(vm.item.get('assigned_users_preview').toJS(), function(assignedUser, index) { %>
    .card-user-avatar
        <% if (index < 2 || vm.item.get('assigned_users').size == 3) { %>
        img(
            src!="<%- avatars[assignedUser.id].url %>"
            title!="<%- avatars[assignedUser.id].username %>"
            alt!="<%- avatars[assignedUser.id].username %>"
            style!="background-color: <%- avatars[assignedUser.id].bg || '' %>"
        )
        <% } %>
        //- show, 4+ (4 more assigned users)
        //- is the third avatar ($index == 2)
        //- only appears where there is more than 3 avatars (('assigned_users').size > 3)
        <% if (index == 2 && vm.item.get('assigned_users').size > 3) { %>
        span.extra-assigned(
            title!="<%= translate('COMMON.CARD.EXTRA_ASSIGNED_USERS', { total: (vm.item.get('assigned_users').size - 2) }) %>"
        ) <%= vm.item.get('assigned_users').size - 2 %>+
        <% } %>
    <% }); %>
    <% } %>

    <% if(vm.zoomLevel > 0) { %>
    .card-actions
        <% if(checkPermission(vm.getModifyPermisionKey())) { %>
        button.card-assigned-to-action
            <%= svg({svgIcon: "icon-assign-to"}) %>
            span <%= translate('COMMON.CARD.ASSIGN_TO') %>
        <% } %>

        .card-detail-actions
            a.e2e-edit.card-edit.card-edit-content(
                href=""
                title!="<%= translate('COMMON.CARD.EDIT') %>"
            )
                <% if(vm.item.get('loading-edit')) { %>
                <%= loading %>
                <% } else { %>
                <%= svg({svgIcon: "icon-edit", svgTitle: translate('COMMON.CARD.EDIT') }) %>
                <% } %>
            <% if(vm.item.get('modelName') == 'issues') { %>
            a.e2e-edit.card-edit.card-remove(
                href=""
                title!="<%= translate('COMMON.CARD.DETACH_ISSUE_FROM_SPRINT') %>"
            )
                <% if(vm.item.get('loading-remove-from-sprint')) { %>
                <%= loading %>
                <% } else { %>
                <%= svg({svgIcon: "icon-close", svgTitle: translate('COMMON.CARD.DETACH_ISSUE_FROM_SPRINT') }) %>
                <% } %>
            <% } %>

            <% if(checkPermission(vm.getDeletePermisionKey())) { %>
            a.e2e-edit.card-delete(
                href=""
                title!="<% vm.item.get('modelName') == 'issues' ? translate('COMMON.CARD.DELETE_ISSUE') : translate('COMMON.CARD.DELETE') %>"
            )
                <% if(vm.item.get('loading-delete')) { %>
                <%= loading %>
                <% } else { %>
                <%= svg({svgIcon: "icon-trash", svgTitle: vm.item.get('modelName') == 'issues' ? tranlate('COMMON.CARD.DELETE_ISSUE') : translate('COMMON.CARD.DELETE') }) %>
                <% } %>
            <% } %>
    <% } %>
<% } %>
