
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

h2.card-title
    a(
        href=""
        tg-nav="{{vm.getNavKey()}}:project=vm.project.slug,ref=vm.item.getIn(['model', 'ref'])",
        tg-nav-get-params="{{ vm.getLinkParams() }}"
        ng-attr-title="{{ vm.zoomLevel == 0 ? '#' + vm.item.getIn(['model', 'ref']) + ' ' + vm.item.getIn(['model', 'subject']) : '' }}"
    )
        span.card-ref(ng-if="vm.visible('ref')") {{::"#" + vm.item.getIn(['model', 'ref'])}}
        span.card-subject.e2e-title(ng-if="vm.visible('subject')", ng-bind-html="vm.item.getIn(['model', 'subject']) | emojify")

    .card-compact-epics(ng-if="vm.zoomLevel == 0")
        include ./card-epics
