.card-assigned-to(ng-if="vm.visible('assigned_to')")
    .card-user-avatar(
        ng-if="vm.zoomLevel > 0 && vm.item.get('assigned_to')"
        tg-repeat="assignedUser in vm.item.get('assigned_users')"
    )
        img(tg-avatar="assignedUser")

    .card-user-avatar(ng-if="!vm.item.get('assigned_to')")
        img(
            ng-attr-title="{{ 'COMMON.ASSIGNED_TO.NOT_ASSIGNED' | translate }}"
            ng-src="/#{v}/images/unnamed.png"
        )

    .card-user-avatar(
        ng-if="vm.zoomLevel == 0"
        tg-repeat="assignedUser in vm.item.get('assigned_users_preview')"
    )
        img(
            ng-if="$index < 2 || vm.item.get('assigned_users').size == 3"
            tg-avatar="assignedUser"
        )
        //- show, 4+ (4 more assigned users)
        //- is the third avatar ($index == 2)
        //- only appears where there is more than 3 avatars (('assigned_users').size > 3)
        span.extra-assigned(
            ng-attr-title="{{ 'COMMON.CARD.EXTRA_ASSIGNED_USERS' | translate: { total: (vm.item.get('assigned_users').size - 2) } }}"
            ng-if="$index == 2 && vm.item.get('assigned_users').size > 3"
        ) {{ vm.item.get('assigned_users').size - 2 }}+

    .card-actions(ng-if="vm.zoomLevel > 0")
        button.card-assigned-to-action(
            ng-click="!$event.ctrlKey && !$event.metaKey && vm.onClickAssignedTo({id: vm.item.get('id')})"
            tg-check-permission="{{vm.getModifyPermisionKey()}}"
        )
            tg-svg(svg-icon="icon-assign-to")
            span {{ "COMMON.CARD.ASSIGN_TO" | translate }}

        div.card-detail-actions
            a.e2e-edit.card-edit(
                href=""
                ng-click="!$event.ctrlKey && !$event.metaKey && vm.onClickEdit({id: vm.item.get('id')})"
                tg-loading="vm.item.get('loading-edit')"
                title="{{ 'COMMON.CARD.EDIT' | translate }}"
            )
                tg-svg(svg-icon="icon-edit", svg-title="{{ 'COMMON.CARD.EDIT' | translate }}")
            a.e2e-edit.card-edit(
                href=""
                ng-if="vm.item.get('modelName') == 'issues'"
                ng-click="!$event.ctrlKey && !$event.metaKey && vm.onClickRemove({id: vm.item.get('id')})"
                tg-loading="vm.item.get('loading-remove-from-sprint')"
                title="{{ 'COMMON.CARD.DETACH_ISSUE_FROM_SPRINT' | translate }}"
            )
                tg-svg(svg-icon="icon-close", svg-title="{{ 'COMMON.CARD.DETACH_ISSUE_FROM_SPRINT' | translate }}")
            a.e2e-edit.card-delete(
                href=""
                ng-click="!$event.ctrlKey && !$event.metaKey && vm.onClickDelete({id: vm.item.get('id')})"
                tg-loading="vm.item.get('loading-delete')"
                ng-attr-title="{{ vm.item.get('modelName') == 'issues' ? 'COMMON.CARD.DELETE_ISSUE' : 'COMMON.CARD.DELETE' | translate }}"
                tg-check-permission="{{vm.getDeletePermisionKey()}}"
            )
                tg-svg(svg-icon="icon-trash", svg-title="{{ vm.item.get('modelName') == 'issues' ? 'COMMON.CARD.DELETE_ISSUE' : 'COMMON.CARD.DELETE' | translate }}")

