<% if (vm.visible('extra_info')) { %>
.card-data(
    class!="<%= emptyTask() ? 'empty-tasks': '' %>"
)
    .card-statistics-init
        <% if (vm.item.get('modelName') == 'issues' ) { %>
        span
            <% if (vm.item.get('status')) { %>
            span.card-status-tag(
                style!="color: <%- vm.item.getIn(['status', 'color']) %>"
            )  <%- vm.item.getIn(['status', 'name']) %>
            <% } %>
        <% } else { %>
        span
            <% if (vm.item.getIn(['model', 'total_points'])) { %>
            span.card-estimation(
                title!="<%= translate('COMMON.CARD.ESTIMATION') %>"
                data-id!="<%= vm.item.getIn(['model', 'id']) %>"
                translate="COMMON.CARD.PTS",
            ) <%= translate('COMMON.CARD.PTS', {pts: vm.item.getIn(['model', 'total_points']) }) %>
            <% } %>

            <% if (!vm.item.getIn(['model', 'total_points'])) { %>
            span.card-estimation
                <%= translate('COMMON.CARD.NO_PTS') %>
            <% } %>
        <% } %>

        <% if (vm.item.getIn(['model', 'due_date'])) { %>
        .card-due-date
            <%= svg({svgIcon: "icon-clock", svgTitle: translate('COMMON.CARD.DUE_DATE', { date: dueDateTitle() }), svgFill: dueDateColor() }) %>
        <% } %>

        <% if (vm.item.getIn(['model', 'is_blocked'])) { %>
        span.card-lock(ng-if="vm.item.getIn(['model', 'is_blocked'])")
            <%= svg({svgIcon: "icon-lock" }) %>
        <% } %>

    .card-statistics
        <% if (vm.item.getIn(['model', 'total_attachments'])) { %>
        .statistic.card-attachments(
            title!="<%= translate('ATTACHMENT.SECTION_NAME') %>"
        )
            <%= svg({svgIcon: "icon-paperclip" }) %>
            span <%= vm.item.getIn(['model', 'total_attachments']) %>
        <% } %>
        <% if (vm.item.getIn(['model', 'watchers']).size) { %>
        .statistic.card-watchers(
            title!="<%= translate('COMMON.WATCHERS.WATCHERS') %>"
        )
            <%= svg({svgIcon: "icon-eye" }) %>
            span <%= vm.item.getIn(['model', 'watchers']).size %>
        <% } %>
        <% if (vm.item.getIn(['model', 'total_comments'])) { %>
        .statistic.card-comments(
            title!="<%= translate('COMMENTS.TITLE') %>"
        )
            <%= svg({svgIcon: "icon-message-square" }) %>
            span <%= vm.item.getIn(['model', 'total_comments']) %>
        <% } %>
        <% if (vm.item.getIn(['model', 'tasks']) && vm.item.getIn(['model', 'tasks']).size) { %>
        .statistic.card-completed-tasks(
            title!="<%= translate('COMMON.CARD.TASKS', {completed: vm.getClosedTasks().size, total: vm.item.getIn(['model', 'tasks']).size }) %>"
            class!="<%= vm.getClosedTasks().size == vm.item.getIn(['model', 'tasks']).size ? 'completed' : '' %>"
        ) <%= vm.getClosedTasks().size %> / <%= vm.item.getIn(['model', 'tasks']).size %>
        <% } %>
<% } %>
