
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

.card-epics(ng-if="::vm.item.getIn(['model', 'epics']).size")
    a.card-epic(
        tg-repeat="epic in ::vm.item.getIn(['model', 'epics']) track by epic.get('id')"
        tg-nav="project-epics-detail:project=vm.item.getIn(['model', 'project_extra_info', 'slug']),ref=epic.get('ref')"
    )
        span.epic-color(
            ng-style="::{'background-color': epic.get('color')}"
            ng-attr-title="{{ ::epic.get('subject') }}"
        )
        span.epic-name(
            ng-attr-title="{{ ::epic.get('subject') }}"
            ng-if="$index == 0 && vm.zoomLevel != 0"
            ng-bind-html="::epic.get('subject') | emojify"
        )
