.create-project-action
    button.trans-button.create-project-action-cancel(
        type="button"
        ng-click="vm.onCancelForm()"
        title="{{'PROJECT.CREATE.BACK' | translate}}"
        translate="PROJECT.CREATE.BACK"
    )
    button.button-green.create-project-action-submit.e2e-create-project-action-submit(
        type="submit"
        ng-disabled="projectForm.$invalid || vm.isDisabled()"
        tg-loading="vm.formSubmitLoading"
        translate="PROJECT.CREATE.TITLE"
    )
