fieldset.create-project-check
    label(for="links")
        span.title(
            translate="PROJECT.IMPORT.LINKS"
            translate-values="{platform: vm.platformName}"
        )
        span.description(
            translate="PROJECT.IMPORT.LINKS_DESCRIPTION"
            translate-values="{platform: vm.platformName}"
        )

    .check
        input.activate-input(
            ng-model="vm.projectForm.keepExternalReference"
            name="links"
            type="checkbox"
        )
        div
        span.check-text.check-yes(translate="COMMON.YES")
        span.check-text.check-no(translate="COMMON.NO")