
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

fieldset
    label(
        translate="PROJECT.COMMON.DETAILS"
        for="project-name"
    )
    input.e2e-create-project-title(
        ng-class="{'checksley-error': !!vm.errorList.includes('name') }"
        type="text"
        ng-model="vm.projectForm.name"
        placeholder="{{'PROJECT.COMMON.PROJECT_TITLE' | translate}}"
        name="project-name"
        data-required="true"
        required
    )
    .error-text(ng-if="!!vm.errorList.includes('name')") {{ 'COMMON.FORM_ERRORS.REQUIRED'|translate }}
