.create-project-privacity(role="group")
    fieldset
        input(
            type="radio"
            name="is_private"
            id="template-public"
            data-required="true"
            aria-hidden="true"
            ng-value="false"
            ng-model="vm.projectForm.is_private"
            required
            ng-checked="vm.canCreatePublicProjects"
        )
        label(for="template-public")
            tg-svg(svg-icon="icon-discover")
            span(translate="PROJECT.CREATE.PUBLIC_PROJECT")
    fieldset
        input(
            type="radio"
            name="is_private"
            id="template-private"
            data-required="true"
            ng-value="true"
            ng-model="vm.projectForm.is_private"
            aria-hidden="true"
            required
        )
        label(for="template-private")
            tg-svg(svg-icon="icon-private")
            span(translate="PROJECT.CREATE.PRIVATE_PROJECT")
