.wrapper(ng-init="vm.loadProject()")
    tg-project-menu
    section.main(role="main")
        header.header-with-actions
            h1(
                tg-main-title
                project-name="vm.project.get('name')"
                i18n-section-name="{{vm.sectionName}}"
            )
            .action-buttons(ng-if="vm.epics.size && vm.canCreateEpics()")
                button.button-green.e2e-create-epic(
                    translate="EPICS.DASHBOARD.ADD"
                    title="{{ EPICS.DASHBOARD.ADD_TITLE | translate }}",
                    ng-click="vm.onCreateEpic()"
                )

        tg-epics-table(
            ng-if="vm.epics.size"
        )

        section.empty-epics(ng-if="!vm.epics.size")
            img(
                src="/#{v}/images/epics-empty.png"
                ng-title="EPICS.EMPTY.HELP | translate"
            )
            h1.title(translate="EPICS.EMPTY.TITLE")
            p(translate="EPICS.EMPTY.EXPLANATION")
            a(
                translate="EPICS.EMPTY.HELP"
                href="#TODO: Link to Epics section in taiga-support"
                target="_blank"
                ng-title="EPICS.EMPTY.HELP | translate"
            )
            button.create-epic.button-green(
                ng-if="vm.canCreateEpics()"
                translate="EPICS.DASHBOARD.ADD"
                title="{{ EPICS.DASHBOARD.ADD_TITLE | translate }}"
                ng-click="vm.onCreateEpic()"
            )
