nav.history-tabs
    a.history-tab(
        href=""
        title="Comments"
        ng-click="onActiveComments()"
        ng-class="{active: activeTab}"
        translate="COMMENTS.COMMENTS_COUNT"
        translate-values="{comments: commentsNum}"
    )
    a.history-tab(
        href=""
        title="Activities"
        ng-click="onActiveActivities()"
        ng-class="{active: !activeTab}"
        translate="ACTIVITY.ACTIVITIES_COUNT"
        translate-values="{activities: activitiesNum}"
    )
    a.order-comments(
        href=""
        title="Order Comments"
        ng-click="onOrderComments()"
        ng-class="{'new-first': top, 'old-first': !top}"    
    ) 
        span Older First
        tg-svg(svg-icon="icon-arrow-down")
