nav.history-tabs
    a.history-tab(
        href=""
        title="Comments"
        ng-click="onActiveComments()"
        ng-class="{active: activeTab}"
    ) 8 comments
    a.history-tab(
        href=""
        title="Activities"
        ng-click="onActiveActivities()"
        ng-class="{active: !activeTab}"
    ) 81 Activities
