
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

section.default-values
    form

        //- Epics
        fieldset
            label(for="default-value-epic", translate="ADMIN.DEFAULT_VALUES.LABEL_EPIC_STATUS")
            select(id="default-value-epic", ng-model="project.default_epic_status",
                   ng-options="s.id as s.name for s in epicStatusList")

        //- User stories
        fieldset
            label(for="default-value-us", translate="ADMIN.DEFAULT_VALUES.LABEL_US_STATUS")
            select(id="default-value-us", ng-model="project.default_us_status",
                   ng-options="s.id as s.name for s in usStatusList")

        fieldset
            label(for="default-points", translate="ADMIN.DEFAULT_VALUES.LABEL_POINTS")
            select(id="default-points", ng-model="project.default_points",
                   ng-options="s.id as s.name for s in pointsList")

        //- Tasks
        fieldset
            label(for="default-value-task", translate="ADMIN.DEFAULT_VALUES.LABEL_TASK_STATUS")
            select(id="default-value-task", ng-model="project.default_task_status",
                   ng-options="s.id as s.name for s in taskStatusList")

        //- Issues
        fieldset
            label(for="default-value-issue-type", translate="ADMIN.DEFAULT_VALUES.LABEL_ISSUE_TYPE")
            select(id="default-value-issue-type", ng-model="project.default_issue_type",
                   ng-options="s.id as s.name for s in issueTypesList")

        fieldset
            label(for="default-value-issue-status", translate="ADMIN.DEFAULT_VALUES.LABEL_ISSUE_STATUS")
            select(id="default-value-issue-status", ng-model="project.default_issue_status",
                   ng-options="s.id as s.name for s in issueStatusList")

        fieldset
            label(for="default-value-priority", translate="ADMIN.DEFAULT_VALUES.LABEL_PRIORITY")
            select(id="default-value-priority", ng-model="project.default_priority",
                   ng-options="s.id as s.name for s in prioritiesList")

        fieldset
            label(for="default-value-severity", translate="ADMIN.DEFAULT_VALUES.LABEL_SEVERITY")
            select(id="default-value-severity", ng-model="project.default_severity",
                   ng-options="s.id as s.name for s in severitiesList")

        fieldset
            button.btn-small(
                variant="primary"
                type="submit",
                title="{{'COMMON.SAVE' | translate}}"
            )
                span(translate="COMMON.SAVE")
