section.admin-kanban-powerups
    div.project-values-title
        h2 {{ sectionName | translate }}
        button.button.button-gray(
            translate="ADMIN.PROJECT_KANBAN_POWER_UPS.ACTION_ADD_SWIMLANE"
            ng-click="displaySwimlaneForm()"
        )

    .admin-swimlanes-manager
        form.admin-swimlanes-form(
            ng-if="isFormVisible"
            tg-bind-scope
        )
            input(
                type="text"
                placeholder="{{'ADMIN.PROJECT_KANBAN_POWER_UPS.SWIMLANE_NAME' | translate }}"
                ng-model="swimlane.name"
            )
            button.form-button.add-swimlane(
                arial-label="{{'COMMON.SAVE' | translate }}"
                ng-click="ctrl.addSwimlane()"
            )
                tg-svg(svg-icon="icon-check-empty")

            button.form-button.cancel-swimlane(
                arial-label="{{'COMMON.CANCEL' | translate }}"
                ng-click="hideSwimlaneForm()"
            )
                tg-svg(svg-icon="icon-close")

        .empty(
            ng-if="!values"
            translate="ADMIN.PROJECT_KANBAN_POWER_UPS.NO_SWIMLANES")

        .admin-swimlanes-list(ng-if="values")
            .admin-swimlane-single(
                tg-project-swimlanes-single
                ng-repeat="value in values"
            )
                include ../admin/project-kanban-swimlane-single

