.created-by
    a.created-title(
        href="{{url}}"
        title="{{owner.full_name_display}}"
        translate="COMMON.CREATED_BY"
        translate-values="{ 'fullDisplayName': owner.full_name_display}"
    )
    .created-date {{date}}
.user-avatar
    a(
        href="{{url}}"
        title="{{owner.full_name_display}}"
    )
        img(
            ng-style="{'background': owner.bg}"
            ng-src="{{owner.avatar}}"
            alt="{{owner.full_name_display}}"
        )
