
//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.
//-
//- Copyright (c) 2021-present Kaleidos Ventures SL

.view-subject {{ item.subject }}
    tg-svg.edit(
        svg-icon="icon-edit",
        title="{{'COMMON.EDIT' | translate}}"
    )
.edit-subject
    input(
        type="text"
        ng-model="item.subject"
        data-required="true"
        data-maxlength="500"
        ng-model-options="{ debounce: 200 }"
    )
    span.save-container
       a.save(href="")
           tg-svg(
               svg-icon="icon-save"
               svg-title-translate="COMMON.SAVE"
           )
