<% _.each(watchers, function(watcher) { %>
<% if(watcher) { %>
.user-list-single
    .user-list-avatar
        img(
            src!="<%- watcher.photo %>"
            alt!="<%- watcher.full_name_display %>"
        )
    .user-list-name
        span <%- watcher.full_name_display %>

        <% if(isEditable){ %>
        tg-svg.js-delete-watcher.delete-watcher(
            svg-icon="icon-trash",
            svg-title-translate="COMMON.WATCHERS.DELETE",
            data-watcher-id!="<%- watcher.id %>"
        )
        <% }; %>
<% } %>
<% }); %>
