.user-list-single(ng-repeat="watcher in watchers")
    .user-list-avatar
        img(
            tg-avatar="watcher"
            alt="{{watcher.full_name_display}}"
        )
    .user-list-name
        span {{watcher.full_name_display}}

        tg-svg.js-delete-watcher.delete-watcher(
            ng-if="isEditable"
            svg-icon="icon-trash",
            svg-title-translate="COMMON.WATCHERS.DELETE",
            data-watcher-id="{{watcher.id}}"
        )
