<% _.each(watchers, function(watcher) { %>
<% if(watcher) { %>
.user-list-single
    .user-list-avatar
        img(
            src!="<%- watcher.photo %>"
            alt!="<%- watcher.full_name_display %>"
        )
    .user-list-name
        span <%- watcher.full_name_display %>

        <% if(isEditable){ %>
        a.icon.icon-delete.js-delete-watcher(
            href=""
            data-watcher-id!="<%- watcher.id %>"
            title="{{'COMMON.WATCHERS.DELETE' | translate}}"
        )
        <% }; %>
<% } %>
<% }); %>

<% if(isEditable){ %>
a.add-watcher.js-add-watcher(
    href=""
    title="{{'COMMON.WATCHERS.TITLE_ADD' | translate}}"
)
    span.icon.icon-plus
    span(translate="COMMON.WATCHERS.ADD")
<% }; %>
