
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

.tribe-linked.js-tribe-linked(ng-class="{'is-active': vm.open, 'is-inactive': vm.open == false}")
    .tribe-linked-inner
        .tribe-linked-header
            img.tribe-logo(
                ng-click="vm.show()"
                alt=""
                title="{{ 'US.TRIBE.PUBLISHED_AS_GIG' | translate }}"
                src="#{v}/images/tribe-logo.png"
            )
            p.title {{ "US.TRIBE.PUBLISHED_AS_GIG" | translate }}
            a.close(
                ng-click="vm.hide()"
                href=""
                title="{{ 'US.TRIBE.CLOSE' | translate }}"
            )
                tg-svg.icon-remove(svg-icon="icon-close")

        a.gig-title(
            href="{{::vm.tribeHost}}/gigs/{{gigId}}"
            title="gigTitle"
            target="_blank"
            rel="nofollow"
        ) {{gigTitle}}

        a.delete-link(
            href="{{::vm.tribeHost}}/gigs/{{gigId}}/link-with-task-manager?from=taiga"
            title="{{ 'US.TRIBE.EDIT_LINK' | translate }}"
            rel="nofollow"
        ) {{ 'US.TRIBE.EDIT_LINK' | translate }}

        a.synchronize-link.button-tribe(
            ng-href="{{::vm.tribeHost}}/gigs/sync/{{gigId}}?from=taiga"
            title="{{ 'US.TRIBE.SINCHRONIZE_LINK' }}"
            rel="nofollow"
        ) {{ 'US.TRIBE.SYNCHRONIZE_LINK' | translate }}
