a.button-tribe(
    ng-href="{{::vm.tribeHost}}/taiga-integration/receive?url={{::vm.url}}&project={{projectSlug}}&us={{usId}}",
    title="{{ 'US.TRIBE.PUBLISH' | translate }}"
    target="_blank"
    rel="nofollow"
)
    img.tribe-logo(
        src="/#{v}/images/tribe-logo.png"
        alt="{{ 'US.TRIBE.PUBLISH' | translate }}"
    )
    span {{ 'US.TRIBE.PUBLISH' | translate }}
