.ticket-section-label {{ 'COMMON.FIELDS.VOTES'|translate }}

.votes(
    title="{{ 'COMMON.VOTE_BUTTON.COUNTER_TITLE'|translate:{total:vm.item.total_voters||0}:'messageformat' }}"
    tg-loading="vm.loading"
) {{ vm.item.total_voters }}

//- Registered user button
a.vote-button(
    ng-if="::vm.user"
    href=""
    title="{{ 'COMMON.VOTE_BUTTON.BUTTON_TITLE' | translate }}"
    ng-click="vm.toggleVote()"
    ng-class="{'voted': vm.item.is_voter}"
)
    tg-svg(svg-icon="icon-upvote")

