.import-project-jira-form
    div(ng-include="'projects/create/import/import-header.html'")

    .spin(tg-loading="vm.fetchingUsers")

    form(
        ng-if="!vm.fetchingUsers",
        name="projectForm",
        ng-submit="vm.saveForm()"
    )
        div(ng-include="'projects/create/import-project-form-common/name.html'")
        div(ng-include="'projects/create/import-project-form-common/description.html'")

        .create-project-import-type(role="group", ng-if="vm.projectForm.importer_type !== 'agile'")
            fieldset
                input(
                    type="radio"
                    name="project_type"
                    id="template-scrum"
                    data-required="true"
                    aria-hidden="true"
                    ng-value="'scrum'"
                    ng-model="vm.projectForm.project_type"
                    required
                )
                label(for="template-scrum")
                    tg-svg(svg-icon="icon-scrum")
                    span(translate="PROJECT.IMPORT.JIRA.SCRUM_PROJECT")
            fieldset
                input(
                    type="radio"
                    name="project_type"
                    id="template-kanban"
                    data-required="true"
                    aria-hidden="true"
                    ng-value="'kanban'"
                    ng-model="vm.projectForm.project_type"
                    required
                )
                label(for="template-kanban")
                    tg-svg(svg-icon="icon-kanban")
                    span(translate="PROJECT.IMPORT.JIRA.KANBAN_PROJECT")
            fieldset
                input(
                    type="radio"
                    name="project_type"
                    id="template-issues"
                    data-required="true"
                    aria-hidden="true"
                    ng-value="'issues'"
                    ng-model="vm.projectForm.project_type"
                    required
                )
                label(for="template-issues")
                    tg-svg(svg-icon="icon-issues")
                    span(translate="PROJECT.IMPORT.JIRA.ISSUES_PROJECT")

        p.create-project-import-type-info(
            ng-if="vm.projectForm.project_type == 'scrum'"
            translate='PROJECT.IMPORT.JIRA.CREATE_AS_SCRUM_DESCRIPTION'
        )
        p.create-project-import-type-info(
            ng-if="vm.projectForm.project_type == 'kanban'"
            translate='PROJECT.IMPORT.JIRA.CREATE_AS_KANBAN_DESCRIPTION'
        )
        .create-project-type-issues-subform(ng-if="vm.projectForm.project_type == 'issues'")
            p.create-project-type-issues-subform-title(
                translate='PROJECT.IMPORT.JIRA.CREATE_AS_ISSUES_DESCRIPTION'
            )
            fieldset.create-project-type-issues-subform-radiogr
                label
                    input(
                        type="radio"
                        name="create_subissues"
                        id="template-issues-create"
                        data-required="true"
                        aria-hidden="true"
                        ng-value="true"
                        ng-model="vm.projectForm.create_subissues"
                        required
                    )
                    svg(
                        viewBox="0 0 16 16"
                        xmlns="http://www.w3.org/2000/svg"
                    )
                        circle(
                            cx="7"
                            cy="7"
                            r="6"
                        )
                    span.control-indicator(translate="PROJECT.IMPORT.JIRA.CREATE_NEW_ISSUES")
                label
                    input(
                        type="radio"
                        name="create_subissues"
                        id="template-issues-ignore"
                        data-required="true"
                        aria-hidden="true"
                        ng-value="false"
                        ng-model="vm.projectForm.create_subissues"
                        required
                    )
                    svg(
                        viewBox="0 0 16 16"
                        xmlns="http://www.w3.org/2000/svg"
                    )
                        circle(
                            cx="7"
                            cy="7"
                            r="6"
                        )
                    span.control-indicator(translate="PROJECT.IMPORT.JIRA.NOT_CREATE_NEW_ISSUES")

        div(ng-include="'projects/create/import-project-form-common/project-privacy.html'")
        tg-create-project-restrictions(
            is-private="vm.projectForm.is_private"
            can-create-public-projects="vm.canCreatePublicProjects"
            can-create-private-projects="vm.canCreatePrivateProjects"
        )
        tg-create-project-members-restrictions(
            is-private="vm.projectForm.is_private"
            limit-members-private-project="vm.limitMembersPrivateProject"
            limit-members-public-project="vm.limitMembersPublicProject"
        )
        div(ng-include="'projects/create/import-project-form-common/links.html'")
        div(ng-include="'projects/create/import-project-form-common/actions.html'")
